<div [ngClass.gt-md]="{'parent-lg':true}" [ngClass.md]="{'parent-md':true}" [ngClass.lt-md]="{'parent-sm':true}">


    <h1>Queue Pricing and Booking Policy of Doctormeetup, a product of Manacher Software Solutions Private Limited</h1>

    <p>Manacher Software Solutions Private Limited, on behalf of itself and its affiliates/group companies under the
        brand
        "Doctormeetup"
        (<b>“Doctormeetup”</b>), is the author and publisher of the internet resource www.Doctormeetup.com and the
        mobile
        application
        ‘Doctormeetup’
        (together, “Website”). Doctormeetup owns and operates the services provided through the Website.</p>

    <p>If you have additional questions or require more information Queue Pricing and Booking Policy, do not hesitate to
        contact
        us.
    </p>

    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards
        to
        the information that they shared and/or collect in Doctormeetup. This policy is not applicable to any
        information
        collected offline or via channels other than this website.</p>

    <h2>Consent</h2>

    <p>By using our website, you hereby consent to our Queue Pricing and Booking Policy and agree to its terms.</p>

    <h2>Queue creation and consulting fees declaration policy</h2>

    <p>This section is applicable to Practitioners</p>

    <ul>
        <li>Practitioner has to be authenticated with his/her credentials</li>
        <li>Practitioner should go to create queue and add it's attributes like fees, queue timings and average time per
            patient
            processing</li>
        <li>Doctormeetup is not responsible for any dealy if Practitioner could not process all his/her patients in
            time.</li>
        <li>Practitioner should declare his/her consulting fees while creating the queue.</li>
        <li>Doctormeetup will add his service charge to the fees declared by the Practitioner, which will be shown to
            Practitioner and he/she is fee to change consulting fees based on that</li>
        <li>After adding service charge the final fees will be show to the patients and he/she has to pay that charge
            while booking the queue</li>
        <li>Doctormeetup will pay cunsulting fees of Practitioner after deducting service charge</li>
        <li>Doctormeetup has all rights to change service charge with giving prior information to the Practitioner</li>
        <li>The changed service charge will not be applied on the bookings which has been booked before service charge
            changed</li>
    </ul>


    <h2>Queue booking policy</h2>

    <p>This section is applicable to all</p>

    <ul>
        <li>Based on the timings and patient limit of queue, any authenticated user can book the queue for doctor
            consultation</li>
        <li>User has to pay consulting fees if Doctor does not allow offline payment</li>
        <li>Doctormeetup is not responsible for any delay made by the doctor in processing his/her queue</li>
        <li>Doctormeetup will show you your approximate waiting time based on average time per patient doctor takes.
        </li>
        <li>
            Live queue will be visible to patients but if there is any issues in their internet connection and they are
            not able to see their live status, Doctor meetup is not responsible of this situation
        </li>
        <li>After your online meeting with Practitioner you will be getting online prescription from Practitioner not
            from Doctormeetup</li>
        <li>In case Practitioner does not write any Prescription to Patient, Doctormeetup will not be responsible for
            that</li>
        <li>Validity of your prescription will be decided by the Practitioner(by validity we mean one can book free
            queue booking in refrence to his/her previous booking)</li>
        <li>Practitioners are not bound to provide a validity on prescription it is their own decision.</li>

    </ul>

    <h2>CONTACT INFORMATION GRIEVANCE OFFICER</h2>
    <br>
    <ul>
        <li>If a User has any questions concerning Doctormeetup, the Website, this Agreement, the Services, or anything
            related to
            any
            of the foregoing, Doctormeetup customer support can be reached at the following email address:
            support@Doctormeetup.com or
            via
            the
            contact information available on the website in contact us section.
        </li>

        <li>In accordance with the Information Technology Act, 2000, and the rules made there under, if you have any
            grievance
            with respect to the Website or the service, including any discrepancies and grievances with respect to
            processing of
            information, you can contact our Grievance Officer at:
            <br>
            <br>
            <p>Name: Nikhil Choudhry</p>
            <p>Manacher Software Solutions Pvt.</p>
            <p>496, Near L.I.C Delhi road Bijnor (U.P)</p>
            <p>Bijnor - 246701.</p>
            <p>Phone: +911342-796952</p>
            <p>Email: policies@Doctormeetup.com</p>
            <br>
            <p>In the event you suffer as a result of access or usage of our Website by any person in violation of Rule
                3 of
                the IG
                Rules, please address your grievance to the above person.</p>
        </li>
    </ul>
    <!--p  -->
    <br><br>
</div>