<div class="parent" fxLayout="column" fxLayoutGap="15px">

  <mat-label class="header-label">Scheduled Queues</mat-label>

  <ng-container *ngIf="doctorHelper.showQueuesOnDashboard(session)">


    <div class="queues-container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px">

      <mat-card class="queue-card" *ngFor="let queue of session.getUserData().getQueues()">

        <mat-card-content fxLayout="column" fxLayoutGap="15px">
          <div fxLayout="row">
            <mat-slide-toggle [checked]="queue.isActive()" (change)="queueStatusChanged(queue)" color="primary">
              {{queue.isActive()?'Activated':'Deactivated'}}</mat-slide-toggle>
            <span fxFlex="1 1 auto"></span>
            <mat-spinner *ngIf="queue.isLoading()" class="spinner" [diameter]="20"></mat-spinner>
          </div>
          <div fxLayout="row">
            <mat-label>Status</mat-label>
            <span fxFlex="1 1 auto"></span>
            <mat-card [ngClass]="helper.getStatusCardClass(queue)">
              <mat-card-content>
                <mat-label [ngClass]="helper.getStatusLabelClass(queue)">
                  {{helper.getStatusText(queue)}}
                </mat-label>
              </mat-card-content>
            </mat-card>

          </div>
          <div fxLayout="row" fxLayoutGap="30px">
            <mat-label>Fees</mat-label>
            <span fxFlex="1 1 auto"></span>
            <mat-label>{{queue.getFees()}}</mat-label>
          </div>
          <div fxLayout="row" fxLayoutGap="30px">
            <mat-label>Limit</mat-label>
            <span fxFlex="1 1 auto"></span>
            <mat-label>{{queue.getPatientLimit()}}</mat-label>
          </div>
          <div fxLayout="row" fxLayoutGap="30px">
            <mat-label>Type</mat-label>
            <span fxFlex="1 1 auto"></span>
            <mat-label>{{utils.initCap(queue.getType()||'Unavailable')}}</mat-label>
          </div>
          <div fxLayout="row" fxLayoutGap="30px">
            <mat-label>Payment Option</mat-label>
            <span fxFlex="1 1 auto"></span>
            <mat-label>{{utils.initCap(queue.getPaymentOption() || 'Unavailable')}}</mat-label>
          </div>

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Timings
                </mat-panel-title>
                <mat-panel-description>
                  <span fxFlex="1 1 auto"></span>
                  <mat-icon>access_time</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row" fxLayoutGap="30px">
                  <mat-label>Booking Start</mat-label>
                  <span fxFlex="1 1 auto"></span>
                  <mat-label>{{calculation.millisToTimeString(queue.getBookingStarting())}}</mat-label>
                </div>
                <div fxLayout="row" fxLayoutGap="30px">
                  <mat-label>Booking End</mat-label>
                  <span fxFlex="1 1 auto"></span>
                  <mat-label>{{calculation.millisToTimeString(queue.getBookingEnding())}}</mat-label>
                </div>
                <div fxLayout="row" fxLayoutGap="30px">
                  <mat-label>Consulting Start</mat-label>
                  <span fxFlex="1 1 auto"></span>
                  <mat-label>{{calculation.millisToTimeString(queue.getConsultingStarting())}}</mat-label>
                </div>
                <div fxLayout="row" fxLayoutGap="30px">
                  <mat-label>Consulting End</mat-label>
                  <span fxFlex="1 1 auto"></span>
                  <mat-label>{{calculation.millisToTimeString(queue.getConsultingEnding())}}</mat-label>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Off Days
                </mat-panel-title>
                <mat-panel-description>
                  <span fxFlex="1 1 auto"></span>
                  <mat-icon>event_busy</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column">
                <mat-chip-list class="holiday-chips" aria-label="holidays">
                  <mat-chip *ngFor="let day of queue.getHolidayList()">
                    {{day}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  More options
                </mat-panel-title>
                <mat-panel-description>
                  <span fxFlex="1 1 auto"></span>
                  <mat-icon>settings</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column">
                <button mat-flat-button class="setting-buttons" (click)="editQueue(queue)">Edit</button>
                <button mat-flat-button class="alert-button setting-buttons" fxFlexOffset="10px
                        " (click)="deletClick(queue)">Delete</button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <button mat-raised-button class="medium-button open-button" (click)="openQueue(queue)">
            <mat-icon>explore</mat-icon>
            Operate
          </button>
        </mat-card-content>
      </mat-card>
    </div>

  </ng-container>

  <mat-label class="header-label">Earning Graph</mat-label>

  <mat-card #myDiv class="graph-card" fxLayout="row" fxLayoutAlign="center center">
    <mat-card-content id="graphContent" fxLayout="row">

    </mat-card-content>
  </mat-card>


  <mat-label class="header-label">Live Payments</mat-label>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 payment-tabel"
    fxFlex="1 1 auto">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef="let element">

        <ng-container *ngIf="column === 'status'">
          <mat-label
            [ngClass]="{'authorized-status-label': element.status === 'Authorized', 'completed-status-label': element.status === 'Completed', 'failed-status-label': element.status === 'Failed'}">
            {{element[columnMapper[column]]}}
          </mat-label>
        </ng-container>
        <ng-container *ngIf="column !== 'status'">
          {{element[columnMapper[column]]}}
        </ng-container>

      </td>
    </ng-container>

    Expanded Content Column - The detail row is made up of this one column that spans across all columns
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <div class="example-element-description">

            <ng-container *ngIf="element.status === 'Authorized'">
              <span class="example-element-description-attribution"> -- When a patient book appointment in a queue this
                payment get authorised for you and will be confirm automatically when you completed appontment with
                patient</span>
            </ng-container>
            <ng-container *ngIf="element.status !== 'Authorized'">
              <span class="example-element-description-attribution"> -- This payment is now completed and will be
                transfered to your registered bank account</span>
            </ng-container>


          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>

<!-- <app-main-dashboard></app-main-dashboard> -->