<div class="parent" fxLayout="row wrap" fxLayoutGap="15px">

  <div fxLayout="column" fxFlex="1 1 auto" fxLayoutGap="25px">


    <div fxLayout="column">

      <mat-card class="processing-card" [class.mat-elevation-z8]="true">
        <mat-card-content fxLayout="column" class="processing-card-content">

          <!-- Processing card header -->
          <mat-toolbar class="header-toolbar">


            <mat-icon class="header-status-icon" [ngClass]="helper.getStatusClass(currentQueue)">lens</mat-icon>


            <mat-label class="header-status-lable" fxFlexOffset="5px">Meeting Room -
              {{helper.getStatusText(currentQueue)}}
            </mat-label>
            <span fxFlex="1 1 auto"></span>

          </mat-toolbar>

          <!-- End of Processing card header -->


          <div fxLayout="column" class="processing-card-content-div" fxLayoutAlign="center center">

            <div class="buffet-wrapper">

              <!-- 
              <ng-container *ngIf="!helper.isBookingAvailable(currentQueue)">
                <mat-progress-bar mode="buffer"></mat-progress-bar>
              </ng-container> -->

              <div class="process-container" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">



                <!-- Doctor information card -->
                <mat-card class="processing-patient-card doctor-card" [class.mat-elevation-z2]="true">
                  <mat-card-header>
                    <img mat-card-avatar [src]="currentDoctor.getPicUrl()"
                      src-fallback="{{session.profilePlaceholder}}">
                    <mat-card-title>
                      <mat-label class="header-label">{{helper.printDoctorName(currentDoctor)}}</mat-label>
                    </mat-card-title>
                    <mat-card-subtitle>{{currentDoctor.getStatus() || "offline"}}</mat-card-subtitle>
                    <span fxFlex="1 1 auto"></span>
                    <mat-icon>medical_services</mat-icon>
                  </mat-card-header>
                  <mat-card-content fxLayout="column" fxLayoutGap="5px">

                    <mat-label class="small-label">{{currentDoctor.getDegree()}}</mat-label>
                    <mat-label class="small-label">{{currentDoctor.getSpeciality()}}</mat-label>
                    <mat-label class="small-label highlighted-text">
                      www.doctormeetup.com/@{{currentDoctor.getProfileId()}}</mat-label>



                    <ng-container *ngIf="currentQueue.getConsultingStartingRemaingTime() > 0">
                      <div class="timer-box footer-div" fxLayout="row" fxLayoutAlign="center center"
                        fxFlexOffset="15px">

                        <mat-label class="small-label">Consulting will start in </mat-label>
                        <mat-label class="header-label medium-label highlighted-text" fxFlexOffset="5px">
                          {{calculation.getRemainingTimeString(currentQueue.getConsultingStartingRemaingTime())}}
                        </mat-label>

                      </div>
                    </ng-container>

                    <ng-container *ngIf="currentQueue.getBookingStartRemaingTime() > 0">

                      <div class="timer-box footer-div" fxLayout="row" fxLayoutAlign="center center"
                        fxFlexOffset="15px">

                        <mat-label class="small-label">Booking will start in </mat-label>
                        <mat-label class="header-label medium-label highlighted-text" fxFlexOffset="5px">
                          {{calculation.getRemainingTimeString(currentQueue.getBookingStartRemaingTime())}}</mat-label>

                      </div>
                    </ng-container>

                    <!-- <button mat-raised-button   >                                      
                                      Book Now</button> -->
                    <ng-container fxLayout="column"
                      *ngIf="calculation.isWithinRange(currentQueue.getBookingStarting(), currentQueue.getBookingEnding())">

                      <button mat-raised-button class="green-button" fxFlexOffset="20px"
                        (click)=openBookingDialog()>Book now
                        [ {{calculation.getRemainingTimeString(currentQueue.getBookingEndingRemaingTime())}}
                        ]</button>

                    </ng-container>

                  </mat-card-content>


                </mat-card>
                <!-- End of Doctor information card -->



                <ng-container *ngIf="helper.showThisPatient(currentQueue.getCurrentPatient())">

                  <!-- Meeting timer box -->

                  <div class="processing-indicator-wrapper" *ngIf="currentQueue.getCurrentPatient()">

                    <!-- block for showing current meeting time -->
                    <div class="timer-box" fxLayout="column" fxLayoutAlign="center center">

                      <mat-label class="small-label">Current meeting</mat-label>
                      <mat-label fxFlexOffset="5px"
                        [ngClass]="{'header-label':true, 'red-label':currentMeetingTime > calculation.getMinutesToMillis(currentQueue.getTimePerPatient())}">
                        {{calculation.getRemainingTimeString(currentMeetingTime)}}</mat-label>
                    </div>


                    <!-- <mat-icon>settings</mat-icon> -->


                  </div>
                  <!-- End of Meeting timer box -->

                  <!-- current Patient information card -->
                  <mat-card *ngIf="helper.showThisPatient(currentQueue.getCurrentPatient())"
                    class="processing-patient-card" [class.mat-elevation-z2]="true">
                    <mat-card-header *ngIf="consultStarted">
                      <img mat-card-avatar src="currentQueue.getCurrentPatient().getPicUrl()"
                        src-fallback="{{session.profilePlaceholder}}">
                      <mat-card-title>
                        <mat-label class="header-label">{{currentQueue.getCurrentPatient().getName()}}</mat-label>
                      </mat-card-title>
                      <mat-card-subtitle>{{currentQueue.getCurrentPatient().getStatus()}}</mat-card-subtitle>
                      <span fxFlex="1 1 auto"></span>
                      <mat-icon>single_bed</mat-icon>
                    </mat-card-header>

                    <mat-card-content fxLayout="column" fxLayoutGap="15px">
                      <div fxLayout="row" fxLayoutGap="30px">
                        <mat-label class="small-label">Booking Time</mat-label>
                        <span fxFlex="1 1 auto"></span>
                        <mat-label class="small-label">
                          {{calculation.millisToTimeString(currentQueue.getCurrentPatient().getBookingTimeServer())}}
                        </mat-label>
                      </div>
                      <div fxLayout="row" fxLayoutGap="30px">
                        <mat-label class="small-label">Booking Id</mat-label>
                        <span fxFlex="1 1 auto"></span>
                        <mat-label class="small-label">{{currentQueue.getCurrentPatient().getBookingId()}}</mat-label>
                      </div>
                      <div fxLayout="row" fxLayoutGap="30px">
                        <mat-label class="small-label">Position</mat-label>
                        <span fxFlex="1 1 auto"></span>
                        <mat-label class="small-label">#{{currentQueue.getCurrentPatient().getQueuePlace()}}</mat-label>
                      </div>

                    </mat-card-content>

                  </mat-card>
                  <!-- End of current Patient information card -->


                </ng-container>

              </div>

              <mat-progress-bar mode="buffer" *ngIf="helper.showThisPatient(currentQueue.getCurrentPatient())">
              </mat-progress-bar>
            </div>


          </div>


        </mat-card-content>

      </mat-card>
      <!-- </ng-container> -->
    </div>


    <div class="timing-container" fxLayout="row wrap" fxFlexOffset="20px" fxLayoutAlign="space-between center">
      <!-- <span></span> -->
      <div class="timer-box" fxLayout="column" fxLayoutAlign="center center">
        <mat-label class="small-label">Queue Status</mat-label>
        <mat-label>{{currentQueue.getQueueStatusMessage()}}</mat-label>
      </div>

      <ng-container *ngIf="currentQueue.getLiveMessage() && currentQueue.getLiveMessage().length > 0">
        <mat-card class="live-queue-status-card">
          <mat-card-content>
            <mat-label class="live-queue-status-label">{{currentQueue.getLiveMessage()}}</mat-label>
          </mat-card-content>
        </mat-card>
      </ng-container>


      <div class="timer-box" fxLayout="column" fxLayoutAlign="center center">
        <mat-label class="small-label">Time Laps
        </mat-label>
        <mat-label>{{currentQueue.getTimeOffset()}} minutes</mat-label>
      </div>

    </div>

    <mat-divider fxFlexOffset="20px"></mat-divider>


    <div class="timing-container" fxLayout="row wrap" fxFlexOffset="20px" fxLayoutAlign="space-between center">
      <!-- <span></span> -->
      <div class="timer-box" fxLayout="column" fxLayoutAlign="center center">
        <mat-label class="small-label">Current patient</mat-label>
        <ng-container *ngIf="helper.showThisPatient(currentQueue.getCurrentPatient())">
          <div fxLayout="row">
            <mat-label class="header-label ">
              {{currentQueue.getCurrentPatient().getName()}}</mat-label>
            <mat-label class="header-label " fxFlexOffset="2px">
              - #{{currentQueue.getCurrentPatient().getQueuePlace()}}</mat-label>
          </div>
        </ng-container>
        <ng-container *ngIf="!helper.showThisPatient(currentQueue.getCurrentPatient())">
          <mat-label class="header-label">__</mat-label>
        </ng-container>
      </div>

      <div class="timer-box" fxLayout="column" fxLayoutAlign="center center">
        <mat-label class="small-label">Next patient
        </mat-label>

        <ng-container *ngIf="helper.showThisPatientAsNext(currentQueue.getNextPatient())">
          <div fxLayout="row">
            <mat-label class="header-label ">
              {{currentQueue.getNextPatient().getName()}}</mat-label>
            <mat-label class="header-label " fxFlexOffset="10px">
              - #{{currentQueue.getNextPatient().getQueuePlace()}}</mat-label>
          </div>
        </ng-container>
        <ng-container *ngIf="!helper.showThisPatient(currentQueue.getNextPatient())">
          <mat-label class="header-label">__</mat-label>
        </ng-container>


      </div>

    </div>
    <mat-divider fxFlexOffset="20px"></mat-divider>

    <ng-container>


      <mat-accordion fxFlexOffset="25px">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row">
                <mat-label> Queue Information </mat-label>
                <ng-container
                  *ngIf="!helper.isBookingAvailable(currentQueue) || currentQueue.getBookings().length >= currentQueue.getPatientLimit()">
                  <mat-label class="red-label">&nbsp;- Booking Closed</mat-label>
                </ng-container>
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <span fxFlex="1 1 auto"></span>
              <mat-icon>book_online</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card class="queue-card">

            <mat-card-content fxLayout="column" fxLayoutGap="15px">

              <div fxLayout="row">
                <mat-label>Status</mat-label>
                <span fxFlex="1 1 auto"></span>
                <mat-card [ngClass]="{'status-card': true, 'status-card-live': (currentQueue.getStatus()==='live'), 'status-card-booking': (currentQueue.getStatus()==='booking'),
                    'status-card-scheduled': (currentQueue.getStatus()==='scheduled')}">
                  <mat-card-content>
                    <mat-label [ngClass]="{'live-label': (currentQueue.getStatus() !=='scheduled')}">
                      {{currentQueue.getStatus()==='live'?utils.capitalize(currentQueue.getStatus()):utils.initCap(currentQueue.getStatus())}}
                    </mat-label>
                  </mat-card-content>
                </mat-card>

              </div>
              <div fxLayout="row" fxLayoutGap="30px">
                <mat-label>Fees</mat-label>
                <span fxFlex="1 1 auto"></span>
                <mat-label>{{currentQueue.getFees()}}</mat-label>
              </div>
              <div fxLayout="row" fxLayoutGap="30px">
                <mat-label>Limit</mat-label>
                <span fxFlex="1 1 auto"></span>
                <mat-label>{{currentQueue.getPatientLimit()}}</mat-label>
              </div>
              <div fxLayout="row" fxLayoutGap="30px">
                <mat-label>Type</mat-label>
                <span fxFlex="1 1 auto"></span>
                <mat-label>{{utils.initCap(currentQueue.getType()||'Unavailable')}}</mat-label>
              </div>
              <div fxLayout="row" fxLayoutGap="30px">
                <mat-label>Payment Option</mat-label>
                <span fxFlex="1 1 auto"></span>
                <mat-label>{{utils.initCap(currentQueue.getPaymentOption() || 'Unavailable')}}</mat-label>
              </div>

              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Timings
                    </mat-panel-title>
                    <mat-panel-description>
                      <span fxFlex="1 1 auto"></span>
                      <mat-icon>access_time</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout="row" fxLayoutGap="30px">
                      <mat-label>Booking Start</mat-label>
                      <span fxFlex="1 1 auto"></span>
                      <mat-label>{{calculation.millisToTimeString(currentQueue.getBookingStarting())}}</mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutGap="30px">
                      <mat-label>Booking End</mat-label>
                      <span fxFlex="1 1 auto"></span>
                      <mat-label>{{calculation.millisToTimeString(currentQueue.getBookingEnding())}}</mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutGap="30px">
                      <mat-label>Consulting Start</mat-label>
                      <span fxFlex="1 1 auto"></span>
                      <mat-label>{{calculation.millisToTimeString(currentQueue.getConsultingStarting())}}</mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutGap="30px">
                      <mat-label>Consulting End</mat-label>
                      <span fxFlex="1 1 auto"></span>
                      <mat-label>{{calculation.millisToTimeString(currentQueue.getConsultingEnding())}}</mat-label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Off Days
                    </mat-panel-title>
                    <mat-panel-description>
                      <span fxFlex="1 1 auto"></span>
                      <mat-icon>event_busy</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div fxLayout="column">
                    <mat-chip-list class="holiday-chips" aria-label="holidays">
                      <mat-chip *ngFor="let day of currentQueue.getHolidayList()">
                        {{day}}
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>

            </mat-card-content>

          </mat-card>
        </mat-expansion-panel>

      </mat-accordion>
    </ng-container>

    <!-- My Booking area -->

    <ng-container *ngIf="currentQueue.getMyBooking()">
      <div class="timing-container" fxLayout="row wrap" fxFlexOffset="20px" fxLayoutAlign="space-between center">
        <!-- <span></span> -->
        <div class="timer-box" fxLayout="row" fxLayoutAlign="center center">
          <mat-label class="small-label">Your meeting will start in</mat-label>
          <mat-label fxFlexOffset="10px"
            [ngClass]="{'header-label':true, 'highlighted-text':currentQueue.getMyBooking().getSelfWaitingTime() >= calculation.getMinutesToMillis(currentQueue.getTimePerPatient()), 'green-label': currentQueue.getMyBooking().getSelfWaitingTime() < calculation.getMinutesToMillis(currentQueue.getTimePerPatient()) }">
            {{currentQueue.getMyBooking().getSelfWaitingTimeString()}}</mat-label>
        </div>
        <div class="timer-box" fxLayout="row" fxLayoutAlign="center center">
          <mat-label class="small-label">Your position in queue</mat-label>
          <mat-label class="header-label highlighted-text">&nbsp;#{{currentQueue.getMyBooking().getQueuePlace()}}
          </mat-label>
        </div>
      </div>



      <ng-container *ngIf="currentQueue.getMyBooking()">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title fxLayoutAlign=" center">

                <mat-label fxFlexOffset="5px">My Booking</mat-label>
              </mat-panel-title>
              <mat-panel-description>
                <span fxFlex="1 1 auto"></span>
                <mat-icon>book_online</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutGap="30px">
                <mat-label>Booking Time</mat-label>
                <span fxFlex="1 1 auto"></span>
                <mat-label>{{calculation.millisToTimeString(currentQueue.getMyBooking().getBookingTimeServer())}}
                </mat-label>
              </div>
              <div fxLayout="row" fxLayoutGap="30px">
                <mat-label>Booking Id</mat-label>
                <span fxFlex="1 1 auto"></span>
                <mat-label>{{currentQueue.getMyBooking().getBookingId()}}</mat-label>
              </div>
              <div fxLayout="row" fxLayoutGap="30px">
                <mat-label>Position</mat-label>
                <span fxFlex="1 1 auto"></span>
                <mat-label>#{{currentQueue.getMyBooking().getQueuePlace()}}</mat-label>
              </div>
              <div fxLayout="row" fxLayoutGap="30px">
                <mat-label>Meeting start at(approx)</mat-label>
                <span fxFlex="1 1 auto"></span>
                <mat-label>start time</mat-label>
              </div>
              <div fxLayout="row" fxLayoutGap="30px">
                <mat-label>Reciept</mat-label>
                <span fxFlex="1 1 auto"></span>
                <mat-label>Download now</mat-label>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
      <!-- My Booking area end -->




    </ng-container>
    <span fxFlex="1 1 15px"></span>
  </div>

  <div fxLayout="column" fxFlex="1 1 auto">
    <mat-toolbar class="header-toolbar">
      <mat-label>Bookings</mat-label>
      <span fxFlex="1 1 auto"></span>

      <mat-label>#{{currentQueue.getBookings().length}}</mat-label>
    </mat-toolbar>


    <ng-container *ngIf="currentQueue.getMyBooking()">

      <div [ngClass]="{'patient-list-box': true, 'my-booking-bg':true}" fxLayout="row" fxLayoutAlign="start start">



        <mat-card-header class="patient-info-header">
          <img mat-card-avatar src="booking.getPicUrl()" src-fallback="{{session.profilePlaceholder}}">
          <mat-card-title fxLayout="row">
            <mat-label class="header-label">{{currentQueue.getMyBooking().getName()}}</mat-label>

            <ng-container
              *ngIf="!currentQueue.getMyBooking().isCurrentPatient() && currentQueue.getMyBooking().isProcessed()">
              <mat-icon fxFlexOffset="10px" class="processed-icon"
                matTooltip="This patient has been processed by the doctor" matTooltipPosition="above">done_outline
              </mat-icon>
            </ng-container>
            <ng-container
              *ngIf="!currentQueue.getMyBooking().isCurrentPatient() && currentQueue.getMyBooking().isPending()">
              <mat-icon fxFlexOffset="10px" class="pending-icon"
                matTooltip="This patient is in pending state and will be processed later by the doctor"
                matTooltipPosition="above">tour</mat-icon>
            </ng-container>
          </mat-card-title>
          <mat-card-subtitle fxLayout="row">
            {{currentQueue.getMyBooking().getStatus() || 'offline'}}
          </mat-card-subtitle>
        </mat-card-header>

        <span fxFlex="1 1 auto"></span>
        <mat-card
          [ngClass]="{'position-card': true, 'position-card-1': currentQueue.getMyBooking().getQueuePlace()===1, 'position-card-2': currentQueue.getMyBooking().getQueuePlace()==2, 'position-card-3': currentQueue.getMyBooking().getQueuePlace()==3}">
          <mat-card-content>
            <mat-label
              [ngClass]="{'first-label': currentQueue.getMyBooking().getQueuePlace()===1 || currentQueue.getMyBooking().getQueuePlace()===2 || currentQueue.getMyBooking().getQueuePlace()===3}">
              #{{currentQueue.getMyBooking().getQueuePlace()}}</mat-label>
            <!-- [ngClass]="{'live-label': (queue.getStatus() !=='scheduled')}" -->
          </mat-card-content>
        </mat-card>
        <span fxFlex="1 1 10px"></span>




      </div>
    </ng-container>



    <div #bookingList class="booking-list-wrapper">


      <div cdkDropList class="patient-list fancy-scrollbar">

        <!-- Layout to show loading indicator -->
        <ng-container *ngIf="!currentQueue.isBookingCheckCompleted()">

          <div class="booking-loading-div" fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center">
              <mat-spinner diameter="25"></mat-spinner>

              <mat-label fxFlexOffset="10px" class="loading-indicator-label">Loading appointments...
              </mat-label>
            </div>
          </div>
        </ng-container>
        <!-- End of layout to show loading indicator -->

        <!-- Layout to show empty bookings -->
        <ng-container *ngIf="currentQueue.isBookingCheckCompleted() && currentQueue.getBookings().length === 0">

          <div class="booking-loading-div" fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center">
              <img class="empty-girl" src="/assets/imgs/empty_list_girl.svg">

              <mat-label fxFlexOffset="2px" class="loading-indicator-label">No appointments yet for this queue
              </mat-label>
            </div>
          </div>
        </ng-container>
        <!-- End of layout to show empty bookings -->


        <div [ngClass]="{'patient-list-box': true, 'current-patient-bg':booking.isCurrentPatient()}"
          *ngFor="let booking of currentQueue.getBookings(); index as i" fxLayout="row" fxLayoutAlign="start start">



          <mat-card-header class="patient-info-header">
            <img mat-card-avatar src="booking.getPicUrl()" src-fallback="{{session.profilePlaceholder}}">
            <mat-card-title fxLayout="row">
              <mat-label class="header-label">{{booking.getName()}}</mat-label>

              <ng-container *ngIf="!booking.isCurrentPatient() && booking.isProcessed()">
                <mat-icon fxFlexOffset="10px" class="processed-icon"
                  matTooltip="This patient has been processed by the doctor" matTooltipPosition="above">done_outline
                </mat-icon>
              </ng-container>
              <ng-container *ngIf="!booking.isCurrentPatient() && booking.isPending()">
                <mat-icon fxFlexOffset="10px" class="pending-icon"
                  matTooltip="This patient is in pending state and will be processed later by the doctor"
                  matTooltipPosition="above">tour</mat-icon>
              </ng-container>
            </mat-card-title>
            <mat-card-subtitle fxLayout="row">
              {{booking.getStatus() || 'offline'}}
            </mat-card-subtitle>
          </mat-card-header>

          <span fxFlex="1 1 auto"></span>
          <mat-card
            [ngClass]="{'position-card': true, 'position-card-1': i==0, 'position-card-2': i==1, 'position-card-3': i==2}">
            <mat-card-content>
              <mat-label [ngClass]="{'first-label': i===0 || i===1 || i===2}">#{{i+1}}</mat-label>
              <!-- [ngClass]="{'live-label': (queue.getStatus() !=='scheduled')}" -->
            </mat-card-content>
          </mat-card>
          <span fxFlex="1 1 10px"></span>




        </div>
      </div>
    </div>

  </div>


</div>