<div id="parent" fxLayout="column" fxLayoutAlign="center center">

  
    <form [formGroup]="registrationForm" #f="ngForm" fxFlex.xs="100%" (ngSubmit)="onSubmit(f)" class="registration-form" fxLayout="column">
      <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate" id="progressIndicator" color="primary"></mat-progress-bar>
      <mat-card class="reg-card">

        <mat-card-header >

          <div fxLayout="column" fxFlexOffset="-8px">

            <img id="meetupImage" src="/assets/imgs/meetup_logo_with.png" alt="Meetup Logo" fxFlexOffset="25px">

            <mat-label id="headerLabel" fxFlexOffset="10px">Register on DoctorMeetup as a doctor</mat-label>

          </div>
        </mat-card-header>

        <mat-card-content fxLayout="column">

          

          <div id="contentParent" fxLayout="row rwap" fxFlexOffset="30px" fxLayoutGap="20px">
            
            <div id="contentLeft">
            <mat-horizontal-stepper  linear #stepper>
              
              <mat-step formGroupName="first" >
                <div fxLayout="column" fxLayoutGap="8px" >
                  <div fxLayout="row wrap" fxLayoutGap="10px">
                    <mat-form-field appearance="outline" fxFlex="1 1 auto">
                      <mat-label>First name</mat-label>
                      <input matInput formControlName="firstName"> 
                      <mat-hint>Please do not prefix Dr.</mat-hint>                
                      <mat-error *ngIf="firstName.touched && firstName.errors?.required">
                        Enter first name
                      </mat-error>
                      
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="1 1 auto">
                      <mat-label>Last name</mat-label>
                      <input matInput formControlName="lastName">
                      <mat-error *ngIf="lastName.touched && lastName.errors?.required">
                      Enter last name
                      </mat-error>
                  </mat-form-field>
                </div>
                <mat-form-field appearance="outline" fxFlex="1 1 auto">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender" >           
                      <mat-option value="female">Female</mat-option>
                      <mat-option value="male">Male</mat-option>
                      <mat-option value="other">Other</mat-option>
                  </mat-select>
                  <mat-error *ngIf="gender.touched && gender.errors?.required">
                      Select gender
                    </mat-error> 
              </mat-form-field>
               
                <mat-form-field appearance="outline" fxFlex="1 1 auto">
                  <mat-label>Dr. Profile Id</mat-label>
                  <input matInput placeholder="create a unique profile id" formControlName="profileId" (change)="validateProfileId()" (keyup)="onProfileIdEdited()">
                  <mat-icon matSuffix *ngIf="isValidProfileId" [ngStyle]="{'color':'#0F9D58', 'font-size':'12px'}">check_circle</mat-icon>
                  <mat-error *ngIf="profileId.touched && profileId.errors?.required">
                    You must enter profile ID
                  </mat-error>
                  <mat-error *ngIf="profileId.touched && profileId.errors?.minlength">
                    Must be atleast 4 characters
                  </mat-error>
                  <mat-error *ngIf="profileId.touched && profileId.errors?.available">
                    This profile id is taken y someone else
                  </mat-error>
                  <mat-hint>This will help patients to uniquely identify you and remember your meetup address</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="1 1 auto">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" placeholder="enter a valid email address" formControlName="emailAddress">
                  <mat-error *ngIf="emailAddress.touched && emailAddress.errors?.required">
                    You must provide your email address
                  </mat-error>
                  <mat-error *ngIf="emailAddress.touched && emailAddress.errors?.email">
                    You must provide a valid email address
                  </mat-error>
                </mat-form-field>
  
                <div  fxLayout="row wrap" fxLayoutGap="10px" >
                  <mat-form-field appearance="outline" fxFlex="1 1 auto">
                    <mat-label>Password</mat-label>
                    <input matInput autocomplete="new-password" type="password" formControlName="password" [type]="hide ? 'password' : 'text'" (change)="passwordChanged()">
                    <mat-error *ngIf="password.touched && password.errors?.required">
                      Enter password
                    </mat-error>
                    <mat-error *ngIf="password.touched && password.errors?.invalidPassword">
                      Minimum 8 characters, at least one letter, one number and one special character
                    </mat-error>
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" fxFlex="1 1 auto">
                    <mat-label>Confirm</mat-label>
                    <input matInput autocomplete="new-password" type="password"  formControlName="confirmPassword" [type]="hide ? 'password' : 'text'" (change)="passwordequality()">
                    <mat-error *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
                      Re-enter password
                    </mat-error>
                    <mat-error *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqalTo">
                      Not matching 
                    </mat-error>
                  </mat-form-field>
  
                  <button class="icon-button" mat-mini-fab type="button"  (click)="hide = !hide" aria-label="show or hide password">
                    <mat-icon class="mat-icon"  >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </div>
                <div fxLayout="row" fxFlexOffset="10px">
                  <span fxFlex="1 1 auto"></span>
                  <button class="next-button" mat-flat-button matStepperNext type="button" [disabled]="!firstForm.valid" (click)="loadPersonal()">Next</button>
                </div>
                </div>                
            </mat-step>

            <mat-step formGroupName="personal">

              <div fxLayout="column" fxLayoutGap="8px" >
                <mat-form-field appearance="outline" fxFlex="1 1 auto">
                  <mat-label>Your Registration Number</mat-label>
                  <input matInput  placeholder="Enter your practice registration number" formControlName="registrationNumber">
                  <mat-error *ngIf="registrationNumber.touched && registrationNumber.errors?.required">
                    You must provide your registration number
                  </mat-error>
                  <mat-hint>We will use this to verify your account as a doctor</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="1 1 auto">
                  <mat-label>Years Of Experience</mat-label>
                  <input matInput type="number" placeholder="Enter years of experience" formControlName="experience">
                  <mat-error *ngIf="experience.touched && experience.errors?.required">
                    Please provide your experience years
                  </mat-error>
              </mat-form-field>

              

                <mat-form-field appearance="outline" fxFlex="1 1 auto">
                  <mat-label>Select Your Degree</mat-label>
                  <input matInput  placeholder="Enter your practice registration number" [formControl]="degree"
                  [matAutocomplete]="autoDegree" >
                  <mat-autocomplete #autoDegree="matAutocomplete" (optionSelected)="onDegreeSelected($event.option.value)" >
                    <mat-option *ngFor="let de of filteredOptionsDegree | async" [value]="de">
                      {{de}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="degree.touched && degree.errors?.required">
                    Please select your degree
                  </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline" fxFlex="1 1 auto">
                  <mat-label>Your Speciality</mat-label>
                  <input matInput  placeholder="Enter your speciality" [formControl]="speciality" [matAutocomplete]="autoSpeciality">
                  <mat-autocomplete #autoSpeciality="matAutocomplete" (optionSelected)="onSpecialitySelected($event.option.value)" >
                    <mat-option *ngFor="let sp of filteredOptionsSpeciality | async" [value]="sp">
                      {{sp}} 
      
                    </mat-option>                 
                </mat-autocomplete>
                <mat-error *ngIf="speciality.touched && speciality.errors?.required">
                  Please select your speciality
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline"  fxFlex="1 1 auto">
                <mat-label>About you (optional)</mat-label>
                <textarea class="about-textarea" matInput placeholder="write something beautiful about you" formControlName="about" class="about-textarea" matTextareaAutosize></textarea>
                <mat-error *ngIf="about.touched && about.errors?.required">
                  Please provide some text about you
                </mat-error>
            </mat-form-field>

              <div fxLayout="row" fxFlexOffset="10px">

                  <button class="back-button" mat-flat-button matStepperPrevious type="button" >Back</button>
                  <span fxFlex="1 1 auto"></span>
                  <button class="next-button" mat-flat-button matStepperNext type="button" [disabled]="!personalForm.valid" (click)="loadAddressFormData()">Next</button>
                </div>
              </div>
            </mat-step>


            <mat-step formGroupName="address">

              <div fxLayout="column" fxLayoutGap="8px" >
                <mat-form-field appearance="outline" fxFlex="1 1 auto">
                  <mat-label>Your Clinic/Hospital Name</mat-label>
                  <input matInput  placeholder="Enter your Clinic/Hospital name" formControlName="clinicName" >
                  <mat-error *ngIf="clinicName.touched && clinicName.errors?.required">
                    Please provide clinic/hospital name
                  </mat-error>
                  
                </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex="1 1 auto">
                    <mat-label>Nearby Address</mat-label>
                    <input matInput ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
                      placeholder="Start typing and select nearby address to your clinic/hospital"  formControlName="mapAddress" >
                    <mat-error *ngIf="mapAddress.touched && mapAddress.errors?.required">
                      Enter nearby address for map
                    </mat-error>
                    <mat-icon class="location-icon" matPrefix>location_on</mat-icon>
                    <mat-hint>With this address your nearby patients will conveniently see you in their app and also can reach you by navigating on map</mat-hint>
                  </mat-form-field>

                <mat-form-field appearance="outline" fxFlexOffset="8px">
                  <mat-label>Full Address Of Clinic</mat-label>
                  <input matInput  placeholder="Enter full address of your clinic/hospital/office with PIN code" formControlName="fullAddress">
                  <mat-error *ngIf="fullAddress.touched && fullAddress.errors?.required">
                    You must provide clinic/hospital address
                  </mat-error>
                  <mat-error *ngIf="fullAddress.touched && fullAddress.errors?.minlength">
                    Address must be atleast 15 characters long
                </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="country-picket-text" fxFlex="1 1 auto" >
                  <input type="text"
                        placeholder="Select Country"
                        aria-label="Country"
                        matInput            
                        [formControl]="country"
                        [matAutocomplete]="autoCountry">
                  <mat-autocomplete #autoCountry="matAutocomplete" (optionSelected)="onCountrySelected($event.option.value)" >
                    <mat-option *ngFor="let con of filteredOptionsCountry | async" [value]="con">
                      {{con}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="country.touched && country.errors?.required">
                    Please select your country
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="state-picket-text" fxFlex="1 1 auto">
                  <input type="text"
                        placeholder="Select State"
                        aria-label="State"
                        matInput            
                        [formControl]="state"
                        [matAutocomplete]="autoState">
                  <mat-autocomplete #autoState="matAutocomplete" (optionSelected)="onStateSelected($event.option.value)" >
                    <mat-option *ngFor="let s of filteredOptionsState | async" [value]="s">
                      {{s}}
                    </mat-option>
                  </mat-autocomplete>
                  
                  <mat-error *ngIf="state.touched && state.errors?.required">
                    You must provide country, state and city
                  </mat-error> 
                </mat-form-field>
                <mat-form-field appearance="outline" class="city-picket-text" fxFlex="1 1 auto">
                  <input type="text"
                         placeholder="Select City/Area"
                         aria-label="City"
                         matInput            
                         [formControl]="city"
                         [matAutocomplete]="autoCity">
                  <mat-autocomplete #autoCity="matAutocomplete" (optionSelected)="onCitySelected($event.option.value)" >
                    <mat-option *ngFor="let c of filteredOptionsCity | async" [value]="c">
                      {{c}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="city.touched && city.errors?.required">
                    You must provide country, state and city
                  </mat-error> 
                </mat-form-field>


                <div fxLayout="row" fxFlexOffset="10px">
                  <button class="back-button" mat-flat-button matStepperPrevious type="button" >Back</button>
                  <span fxFlex="1 1 auto"></span>
                  <button class="next-button" mat-flat-button matStepperNext type="submit"  [disabled]="!addressForm.valid">Submit</button>
                </div>
              </div>
            </mat-step>

            </mat-horizontal-stepper>

            </div>

            
            <div id="contentRight" fxFlexOffset.xs="0" fxFlexOffset="25px" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center">
              <div *ngIf="stepper.selectedIndex !== 2" fxLayout="column" class="img-wrapper">
                <img class="right-image" matCardImageMedium src= 'assets/imgs/re_account_temp.svg' />
                <mat-label class="right-label">Helps you connect your patients online</mat-label>
              </div>  
              <agm-map *ngIf="stepper.selectedIndex === 2" fxFlexOffset.xs="0" class="location-map" [latitude]="selectedLat" [longitude]="selectedLong" fxFlex="1 1 500px" fxFlex.xs="1 1 300px" >
                <agm-marker [latitude]="selectedLat" [longitude]="selectedLong" 
                >
                  <agm-info-window>
                    <div>
                      <mat-label>{{selectedAddress}}</mat-label>
                    </div>
                  </agm-info-window>
                </agm-marker>
            </agm-map>            
            </div>
          </div>
        </mat-card-content>
      </mat-card>
     
  </form>

  
</div>
