<div [ngClass.gt-md]="{'parent-lg':true}" [ngClass.md]="{'parent-md':true}" [ngClass.lt-md]="{'parent-sm':true}">


    <h1>Refund and Cancellation Policy of Doctormeetup, a product of Manacher Software Solutions Private Limited</h1>

    <p>Manacher Software Solutions Private Limited, on behalf of itself and its affiliates/group companies under the
        brand
        "Doctormeetup"
        (<b>“Doctormeetup”</b>), is the author and publisher of the internet resource www.Doctormeetup.com and the
        mobile
        application
        ‘Doctormeetup’
        (together, “Website”). Doctormeetup owns and operates the services provided through the Website.</p>

    <p>If you have additional questions or require more information Queue Pricing and Booking Policy, do not hesitate to
        contact
        us.
    </p>

    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards
        to
        the information that they shared and/or collect in Doctormeetup. This policy is not applicable to any
        information
        collected offline or via channels other than this website.</p>

    <h2>Consent</h2>

    <p>By using our website, you hereby consent to our Queue Pricing and Booking Policy and agree to its terms.</p>

    <br>
    <h2>Booking Cancellation Policy</h2>

    <p>This section is applicable to all</p>

    <ul>
        <li>Once patient successfully booked his/her booking in Doctor's queue, he/she can cancel this booking at any
            point of time if consulting does not happend</li>
        <li>There are two type of cancellations :
            <br>

            <ol>
                <li>
                    1. Cancelled by Practitioner/Doctor
                    <br>
                    <ul>
                        <li>Practitioner/Doctor can cancel booking befor consultation time started.</li>
                        <li>Practitioner/Doctor can cancel booking after consultation time is over and consulting could
                            not happened</li>
                        <li>If Practitioner/Doctor cancels a meeting at any time, fees paid by the patient will be
                            refunded by Doctormeetup directly.</li>
                    </ul>
                    <br>
                    2. Cancelled by Patient
                    <br>
                    <ul>
                        <li>Patient can cancel booking befor consultation time started.</li>
                        <li>Patient can cancel booking after consultation time is over and consulting could
                            not happened</li>
                        <li>If a patient cancels a meeting, fees paid by the patient will be refunded by Doctormeetup
                            directly if it is cancelled after consultation time is over and consulting could not
                            happened</li>
                    </ul>

                </li>
            </ol>
        </li>

        <li>If cancellation is being done by the patient because of Doctor's fault it will be handled by Doctormeetup
            directly otherwise it is subject to Doctor's approval and upon doctor's approval Doctormeetup will process
            the same</li>
    </ul>


    <h2>Meeting Reschedule Policy</h2>

    <p>This section is applicable to all</p>

    <ul>
        <li>Once patient successfully booked his/her booking in Doctor's queue, he/she can reschedule this meeting at
            any
            point of time if consulting does not happend</li>

        <li>Patient can request Doctor to rechedule his/her particular meeting to any other date with a valid reason
        </li>
        <li>once Practitioner/Doctor recieves this request he/she can approve or reject that reshedule request,
            Practitioner/Doctor is not bound to approve this request</li>
        <li>If Practitioner/Doctor approves reschedule request Patient can book another free booking on that rescheduled
            date with his/her old booking reference Id</li>
        <li>If Practitioner/Doctor rejects reschedule request, Patient can continue to this join ths meeting or skip
            that</li>
        <li>In this case Practitioner/Doctor or Doctormeetup are not bound for any refund. But Practitioner/Doctor can
            refund this fees as per his/her choice/li>
    </ul>


    <h2>Refund Policy</h2>

    <p>This section is applicable to all</p>

    <ul>
        <li>Once patient successfully booked his/her booking in Doctor's queue, he/she can cancel this meeting at
            any
            point of time if consulting does not happend</li>

        <li>Meetings will be cancelled in two ways:
            <br>
            <br>
            <ol>
                Cancelled by Practitioner/Doctor
                <br>
                <ul>
                    <li>If meeting is cancelled by Practitioner/Doctor then, patient's full refund of paid fees will be
                        processed by Doctormeetup directly</li>
                </ul>
            </ol>
            <br>
            <ol>
                Cancelled by Patient
                <br>
                <ul>
                    <li>If meeting is cancelled by patient if Practitioner/Doctor did not contacted or conducted meeting
                        then refund will be processed directly by Doctormeetup
                        after full investigation.</li>
                    <li>If Practitioner/Doctor tried to contact Patient to conduct meeting but Patient could not join
                        the meeting becase of any reason, in this case if Patient cancels the meeting then refund is
                        subject to Practitioner/Doctor's approval.</li>
                    <li>If Practitioner/Doctor tried to contact Patient to conduct meeting but Patient could not join
                        the meeting becase of any reason and Practitioner/Doctor approves Patient's cancellation request
                        then your full refund will be processed by Doctormeetup</li>
                    <li>If Practitioner/Doctor tried to contact Patient to conduct meeting but Patient could not join
                        the meeting becase of any reason and Practitioner/Doctor and Practitioner/Doctor rejects
                        Patient's cancellation request then it will be considered as "no show" and refund will not be
                        processed</li>
                    <li>If Practitioner/Doctor tried to contact Patient to conduct meeting but Patient could not join
                        the meeting becase of any reason then Practitioner/Doctor has to approve or reject his/her
                        cancellation request within <b>24 hours</b> otherwise it will be considered as "no show" and
                        refund will not be processed</li>
                </ul>
            </ol>
        </li>

        <li>All the refunds processed by doctor meetup will be credited to the same payment method which user used when
            making payment Doctormeetup will not deduct any cancellation fees hence user's full payment will be refunded
        </li>
        <li>All refunds will be processed within 7 working days by Doctormeetup. If cancellation is subject to
            Practitioner/Doctor's approval than refund time time will be considered once Practitioner/Doctor approves
            the cancellation request</li>

    </ul>
    <br>
    <h2>CONTACT INFORMATION GRIEVANCE OFFICER</h2>
    <br>
    <ul>
        <li>If a User has any questions concerning Doctormeetup, the Website, this Agreement, the Services, or anything
            related to
            any
            of the foregoing, Doctormeetup customer support can be reached at the following email address:
            support@Doctormeetup.com or
            via
            the
            contact information available on the website in contact us section.
        </li>

        <li>In accordance with the Information Technology Act, 2000, and the rules made there under, if you have any
            grievance
            with respect to the Website or the service, including any discrepancies and grievances with respect to
            processing of
            information, you can contact our Grievance Officer at:
            <br>
            <br>
            <p>Name: Nikhil Choudhry</p>
            <p>Manacher Software Solutions Pvt.</p>
            <p>496, Near L.I.C Delhi road Bijnor (U.P)</p>
            <p>Bijnor - 246701.</p>
            <p>Phone: +911342-796952</p>
            <p>Email: policies@Doctormeetup.com</p>
            <br>
            <p>In the event you suffer as a result of access or usage of our Website by any person in violation of Rule
                3 of
                the IG
                Rules, please address your grievance to the above person.</p>
        </li>
    </ul>
    <!--p  -->
    <br><br>
</div>