.clock-icon{
    height: 200px;
    width: 100px;
}
.picker-form{
    max-width: 200px;
}

.disclaimer{
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
}
