
<div id="videos" class="container-parent">

    <video id="remoteVideo" autoplay playsinline [srcObject]="remoteStream" [muted]="localMute"
        class="patient-details"></video>

    <div class="bottom-control-container" fxLayout="row">

        <div class="call-control-container" fxLayout="row" fxLayoutGap="30px">
            <!-- <button (click)="openfullscreen()">Full Screen</button> -->
            <button mat-fab class="mute" aria-label="mute" (click)="micToggle()">
                <mat-icon *ngIf="micOn" [ngStyle]="{'color':'white'}">mic</mat-icon>
                <mat-icon *ngIf="!micOn" [ngStyle]="{'color':'white'}">mic_off</mat-icon>
            </button>
            
            <!-- <button mat-fab  aria-label="Recoding" [ngClass]="{'record-button': !recordingOn, 'record-button-on': recordingOn}" (click)="recordToggle()">
                <mat-icon *ngIf="!recordingOn" [ngStyle]="{'color':'#DB4437'}">fiber_manual_record</mat-icon>
                <mat-icon *ngIf="recordingOn" [ngStyle]="{'color':'#DB4437'}">fiber_smart_record</mat-icon>
            </button> -->

            <button mat-fab  aria-label="Camera" class="camera" (click)="cameraToggle()">
                <mat-icon *ngIf="cameraOn" [ngStyle]="{'color':'white'}">videocam</mat-icon>
                <mat-icon *ngIf="!cameraOn" [ngStyle]="{'color':'white'}">videocam_off</mat-icon>
            </button>
            
                 
            <button mat-fab  class="call-disconnect" aria-label="End call" (click)="callDisconnect()">
                <mat-icon [ngStyle]="{'color':'white'}"> call_end</mat-icon>
            </button>
            
        </div>
    </div>
    <button mat-fab  class="fullscreen-button" aria-label="Full Screen" (click)="toggleFullScreen()">
        <mat-icon *ngIf="!fullScreen" [ngStyle]="{'color':'white'}">fullscreen</mat-icon>
        <mat-icon *ngIf="fullScreen" [ngStyle]="{'color':'white'}">fullscreen_exit</mat-icon>
    </button>
    <button mat-fab  class="chat-button" aria-label="chat" (click)="chatButtonClicked()">
        <mat-icon [ngStyle]="{'color':'white'}" *ngIf="isNewMessage" [matBadge]="newMessageCount" matBadgeColor="warn" >chat</mat-icon>
        <mat-icon [ngStyle]="{'color':'white'}" *ngIf="!isNewMessage" >chat</mat-icon>
    </button>
    <button mat-fab  class="write-priscription" aria-label="Priscription" (click)="openPresBox()">
        <mat-icon [ngStyle]="{'color':'white'}">note_add</mat-icon>
    </button>

    <video id="localVideo" autoplay="true" [muted]="localMute" [srcObject]="localStream"
        class="patient-details"></video>


     <div class="call-interface-blur" fxLayout="column" *ngIf="callingInterfaceActive" >

        <div class="selector-container" fxLayout="row" fxLayoutGap="15px" fxFlex="1 1 25%" >
            
            <mat-form-field appearance="fill" fxFlex="1 1 auto">
                <mat-label>Select Mic</mat-label>
                <mat-select [(value)]="selectedMic" (selectionChange)="micChanged()">
                    <mat-option *ngFor="let mic of micArray" [value]="mic.deviceId">{{mic.label}}</mat-option>
                </mat-select>
            </mat-form-field>
    
                <mat-form-field appearance="fill" fxFlex="1 1 auto">
                    <mat-label>Select Camera</mat-label>
                    <mat-select [(value)]="selectedCamera" (selectionChange)="micChanged()">
                        <mat-option *ngFor="let camera of cameraArray" [value]="camera.deviceId">{{camera.label}}</mat-option>
                        
                    </mat-select>
            </mat-form-field>
    
            
        
        </div>

        

        <div class="calling-container" fxFlex="1 1 auto" fxLayout="row">
            <span fxFlex="1 1 auto"></span>
            <mat-card class="current-patient-card" fxLayout="column" >
                <img mat-card-image id="profilePicPatient" src="{{userProfileImage}}" alt="Photo of a Shiba Inu">
                <button mat-flat-button color="primary" fxFlexAlign="center" (click)="createRoom()" [disabled]="disableCallButton">{{startCallText}}</button>
            </mat-card>
            <span fxFlex="1 1 auto"></span>
        </div>

     </div>

     <div class="chatbox-container" *ngIf="showChatBox" fxLayout="column">

        <mat-toolbar fxFlex="1 1 65px" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center"><mat-icon (click)="hideChatbox()">keyboard_backspace</mat-icon><mat-label>Chat</mat-label></mat-toolbar>

    <div class="chat-box-container" fxLayout="column" #scrollMe [scrollTop]="scrollMe.scrollHeight" fxFlex="1 1 auto">

        <mat-list  class="chat-list-class">

            <mat-list-item *ngFor="let chat of chats" class="list-item" >
                
                <div class="list-item">

                
                    <div *ngIf="chat.he; else elseBlock" class="chat-left-card" fxLayout="row" fxLayoutGap="3px" >
                        <img mat-card-avatar class="chat-avtar" src="{{chat.img}}">
                        <div class="he-msg-wrapper" >
                            <mat-label class="chat-label">{{chat.msg}}</mat-label>
                        </div>                                 
                    </div>  
                    <ng-template #elseBlock>
                        <div *ngIf="!chat.he" class="chat-right-card">
                                            
                                <mat-label class="chat-label chat-label-me">{{chat.msg}}</mat-label>            
                        </div>  
                    </ng-template> 
                 </div>   
         </mat-list-item>
        </mat-list>
     </div>
            <mat-divider></mat-divider>
            <div class="chat-interface-container" fxLayout="row" fxFlex="1 1 75px" >


                    <div class="chat-wrapper" fxLayout="row" fxFlex="1 1 100%">
                            <span fxFlex="1 1 15px"></span>
                            <textarea  matInput  [(ngModel)]="myMessage" fxFlex="1 1 auto" class="chat-input" placeholder="Write your message.." (keyup.enter)= "sendMessage()" > </textarea>
                    

                            <!-- <button mat-mini-fab  class="send-msg" aria-label="Send" (click)="sendMessage()"> -->
                            
                                <mat-icon   [ngStyle]="{'color':'#0F9D58'}" (click)="sendMessage()">send</mat-icon>
                              
                            
                        <!-- </button> -->
                        <span fxFlex="1 1 8px"></span>
                    </div>
                    
            </div>

     </div>

     <div *ngIf="showPresBox" class="prescription-container" fxLayout="row" >

        <span fxFlex="1 1 auto">

        </span>
        <mat-card class="prescription-card" fxFlex="1 1 auto">
            <mat-card-header fxLayout="row" fxLayoutAlign="center">
                <mat-card-title>Prescription</mat-card-title>
            </mat-card-header>
           
            <mat-card-content class="prescription-card-content">
                <textarea  matInput  [(ngModel)]="myPrescription" class="prescription-input" placeholder="Write Prescription here and hit Send button.." > </textarea>
            </mat-card-content>
            <mat-card-footer fxLayout="row" fxLayoutGap="10px" >
                <button mat-flat-button fxFlex="1 1 auto"  (click)="cancelPrescription()">Cancel</button>
                <button mat-flat-button color="primary" fxFlex="1 1 auto" (click)="sendPrescription()" >Send Priscription</button>
            </mat-card-footer>
          </mat-card>
          <span fxFlex="1 1 auto">

        </span>

     </div>

     

     <div fxLayout="row" id="tempDiv">
        <button mat-flat-button color="primary"  (click)="joinRoom()" class="temp-buttons">Answer</button>
        <button mat-flat-button color="primary"   class="temp-buttons">Send msg</button>
     </div>
    
</div>