#message {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}

#message h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

#message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#message a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#message, #message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

@media (max-width: 600px) {
    body, #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }
}

button {
    margin: 0.2em 0.1em;
}


#localVideo{
    width: 100px;
    height: 150px;
    
     bottom: 0;
     right: 2%;
}
#remoteVideo{
    
    
    right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.container-parent{
    /* display: grid; */
    height: 100%;
    width: 100%;
     position: relative;
     background-color: #000000;
   
}
.patient-details{
    /* grid-column: 1;
    grid-row: 1; */
     position: absolute;
     height: 100%;
    width: 100%;
}
.call-interface-blur{

    /* position: absolute; */
    height: 100%;
   width: 100%;
   background: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(8px);
}
.bottom-control-container{
    height: 10%;
    width:100%;
    bottom: 0;
    position: absolute;
    justify-content: center;
   align-items: center;
    
}
.call-control-container{ 
    height: fit-content;
    width: fit-content;
   
}
.selector-container{
    height: fit-content;
    
}
.call-disconnect{
       
    background-color: #DB4437;
    
}
.mute{
    background-color: transparent
}
.unmute{
    background-image: url('/assets/imgs/unmute_temp.jpg');
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    
}
.camera{
    background-color: #4285F4;
}
/* .record-button{
    background-color: transparent;
}
.record-button-on{
    background-color: #ffffff;
} */
.camera-cut{
    background-image: url('/assets/imgs/video_cut_temp.png');
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    

}

.current-patient-card{
        background-color: transparent;
        max-width: 150px;
        max-height: 150px;
        
}

#profilePicPatient{
    border-radius: 15px;
}
.chat-button{
    background-color: transparent;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.chatbox-container{
    position: absolute;
    width: 30vw;
    /* height: 100%; */
    top:0;
    bottom: 0;
    background-color: white;
    z-index: 1;
}
.prescription-card-content{
    height: 100%;
    width: 100%;
}
.prescription-input{
    resize: none;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 5px 5px 5px 5px;
    
}
.prescription-card{
    height: 500px;
    min-width: 100px;
    max-width: 450px;
}
.prescription-container{
    position: absolute;
    top: 5%;
    width: 100%;
}
.write-priscription{
    background-color: #0F9D58;
    position: absolute;
    right: 10px;
    top: 50%;
}
.fullscreen-button{
    background-color: transparent;
    position: absolute;
    right: 5px;
    top: 5px;
}
#tempDiv{
    position: absolute;
    top: 10px;
    left: 40%
}
.chat-list-class{
    width: 100%;
    height: 100%;
    /* overflow-y: auto; */
}
.chat-avtar{
    height: 20px;
    width: 20px;
}
.chat-label{
    font-size: 12px;
    /* white-space: nowrap; */
    color: #000000;
    text-align:justify;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    word-break: break-word;
} 
.chat-label-me{
    color: #ffffff;
    
}
.he-msg-wrapper{
    background-color: #A9A9A9;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    height: fit-content;
    width: 99%;
    }
    .list-item{
    display: flex; 
    flex-flow: column wrap; 
    margin-top: 7.5px;
    padding: 2px 2px 2px 2px;
    height: fit-content;
    width: 100%;
    margin-bottom: 7.5px;
}
   .chat-left-card{
       /* position: absolute; */
       max-width: 70%;
       height: fit-content;
       left: 3px;
       align-self: flex-start;
   }
   .chat-right-card{
    padding: 4px 10px 4px 10px;
    /* position: absolute; */
    align-self: flex-end;
    border-radius: 10px;
    background-color: #4285F4;
    max-width: 75%;
    right: 3px;
}
.chat-msg-container{
    width: 100%;
    height: fit-content;
    margin-top: 15px;
    position: relative;
    
}
.chat-box-iner-container{
    width: 100%;
    height: 80%;
    background-color: #039be5;
    overflow: auto;
}
.chat-box-container{
    width: 100%;
    height: 80%;
    overflow: auto;
}

.send-msg{
    background-color: #0F9D58;
}
.chat-input{ 
   max-height: 80%;
   resize: none;
   padding-top: 15px;
   padding-bottom: 10px;
}
.chat-input::-webkit-scrollbar {
    width: 1px;
  }
.chat-input::-webkit-scrollbar-thumb {
    border-radius: 1px;
    /* box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: transparent;
    /* border: 1px solid #000; */

}
.chat-wrapper{
    justify-content: center; align-items: center;
}
.attachment-button{
    background-color: transparent;
}
       
