<div class="parent" fxLayout="column" fxLayoutGap="15px"
infiniteScroll
infiniteScrollDistance="1"
infiniteScrollThrottle="50"
(scrolled)="onScroll()"
[scrollWindow]="false"

>
  
  <!-- <button mat-raised-button (click)="temp()">Save Geo</button> -->

   <mat-card *ngFor="let doctor of searchService.getGlobalDoctors()">
       <mat-card-content fxLayout="column">
        
        <div fxLayout="row wrap" fxLayoutGap="15px">

            <img id="profilePictureImage" matCardImageMedium src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBBbg59ufqwGDd2621kTDgGFWw_TNaWGH1FA&usqp=CAU" />

            <div fxLayout="column" fxLayoutGap="space-between start">
                <mat-label class="header-label" fxFlexOffset="5px">Dr. {{doctor.getDoctor().getFirstName() +''+doctor.getDoctor().getLastName()}}</mat-label>
                <mat-label fxFlexOffset="10px">{{doctor.getDoctor().getDegree()}}</mat-label>
                <mat-label fxFlexOffset="10px">{{doctor.getDoctor().getExperience()}} years of experience</mat-label>
                <span fxFlex="1 1 auto"></span>
                <div fxLayout="row" fxFlexOffset="15px" fxLayoutGap="10px" fxLayoutAlign=" center">
                    <mat-icon>location_city</mat-icon>
                    <mat-label class="d-details-value">{{doctor.getDoctor().getFullClinicAddress()}}</mat-label>
                </div>
                <div fxLayout="row" fxFlexOffset="15px" fxLayoutGap="10px" fxLayoutAlign=" center">
                    <mat-icon>medical_services</mat-icon>
                    <mat-label class="d-details-value">www.doctormeetup.com/@{{doctor.getDoctor().getProfileId()}}</mat-label>
                </div>
                
                <div fxLayout="row" fxFlexOffset="15px" fxLayoutGap="10px" fxLayoutAlign=" center">
                    <mat-icon [ngClass]="{'varified-icon':doctor.getDoctor().isVarified(), 'not-varified-icon':!doctor.getDoctor().isVarified()}">verified_user</mat-icon>
                    <mat-label class="d-details-value">{{doctor.getDoctor().isVarified()?'Verified doctor':'Not yet varified'}}</mat-label>
                </div>
                <span fxFlex="1 1 auto"></span>
            </div>


            <agm-map class="facility-map" [latitude]="doctor.getDoctor().getCoordinates().latitude" [longitude]="doctor.getDoctor().getCoordinates().longitude" fxFlexOffset="25px" fxFlex="1 1 auto" fxFlexOffset="150px" 
              
            >
               <agm-map-type-control></agm-map-type-control>
                <agm-marker [latitude]="doctor.getDoctor().getCoordinates().latitude" [longitude]="doctor.getDoctor().getCoordinates().longitude"></agm-marker>
            </agm-map>
        </div>                                                  
        
        <mat-accordion fxFlexOffset="25px">
            <mat-expansion-panel (afterExpand)="bookingPannelExpended(doctor)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Booking Queues
                </mat-panel-title>
                <mat-panel-description>
                  <span fxFlex="1 1 auto"></span><mat-icon>book_online</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <ng-container *ngIf="!doctor.isQueueInitialized()">
                <div class="queue-loading-container" fxLayout="row" fxLayoutAlign="center center">
                  
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-spinner diameter="30"></mat-spinner>

                    <mat-label fxFlexOffset="10px" class="loading-indicator-label">Loading booking information...</mat-label>
                  </div>
                  
                </div>
              </ng-container>
              <ng-container *ngIf="doctor.isQueueInitialized() && doctor.getQueues().length<=0">
                <div class="queue-loading-container" fxLayout="row" fxLayoutAlign="center center">
                  
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon class="no-queue">nature_people</mat-icon>

                    <mat-label fxFlexOffset="10px" class="loading-indicator-label">This doctor has not set any booking option yet. Please try again later once he set his timings for appointments.</mat-label>
                  </div>
                  
                </div>
              </ng-container>
              
              <ng-container *ngIf="doctor.isQueueInitialized() && doctor.getQueues().length >0">
              <div class="queues-container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px">


                <mat-card class="queue-card" *ngFor="let queue of doctor.getQueues()" >
                  
                    <mat-card-content fxLayout="column" fxLayoutGap="15px">
                        
                        <div fxLayout="row">
                            <mat-label>Status</mat-label>
                            <span fxFlex="1 1 auto"></span>
                            <mat-card  [ngClass]="{'status-card': true, 'status-card-live': (queue.getStatus()==='live'), 'status-card-booking': (queue.getStatus()==='booking'),
                            'status-card-scheduled': (queue.getStatus()==='scheduled')}">
                              <mat-card-content>
                                <mat-label [ngClass]="{'live-label': (queue.getStatus() !=='scheduled')}">{{queue.getStatus()==='live'?utils.capitalize(queue.getStatus()):utils.initCap(queue.getStatus())}}</mat-label>
                              </mat-card-content>                      
                            </mat-card>
                           
                        </div>
                        <div fxLayout="row" fxLayoutGap="30px">
                          <mat-label>Fees</mat-label>
                          <span fxFlex="1 1 auto"></span>
                          <mat-label >{{queue.getFees()}}</mat-label>
                      </div>
                      <div fxLayout="row" fxLayoutGap="30px">
                          <mat-label>Limit</mat-label>
                          <span fxFlex="1 1 auto"></span>
                          <mat-label>{{queue.getPatientLimit()}}</mat-label>
                      </div>
                      <div fxLayout="row" fxLayoutGap="30px">
                        <mat-label>Type</mat-label>
                        <span fxFlex="1 1 auto"></span>
                        <mat-label>{{utils.initCap(queue.getType()||'Unavailable')}}</mat-label>
                      </div>
                      <div fxLayout="row" fxLayoutGap="30px">
                        <mat-label>Payment Option</mat-label>
                        <span fxFlex="1 1 auto"></span>
                        <mat-label>{{utils.initCap(queue.getPaymentOption() || 'Unavailable')}}</mat-label>
                      </div>
                        
                        <mat-accordion>
                          <mat-expansion-panel >
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Timings
                              </mat-panel-title>
                              <mat-panel-description>
                                <span fxFlex="1 1 auto"></span><mat-icon>access_time</mat-icon>
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                           <div fxLayout="column" fxLayoutGap="10px">
                            <div fxLayout="row" fxLayoutGap="30px">
                              <mat-label>Booking Start</mat-label>
                              <span fxFlex="1 1 auto"></span>
                              <mat-label>{{utils.millisToTimeString(queue.getBookingStarting())}}</mat-label>
                          </div>
                          <div fxLayout="row" fxLayoutGap="30px">
                              <mat-label>Booking End</mat-label>
                              <span fxFlex="1 1 auto"></span>
                              <mat-label>{{utils.millisToTimeString(queue.getBookingEnding())}}</mat-label>
                          </div>
                          <div fxLayout="row" fxLayoutGap="30px">
                              <mat-label>Consulting Start</mat-label>
                              <span fxFlex="1 1 auto"></span>
                              <mat-label>{{utils.millisToTimeString(queue.getConsultingStarting())}}</mat-label>
                          </div>
                          <div fxLayout="row" fxLayoutGap="30px">
                              <mat-label>Consulting End</mat-label>
                              <span fxFlex="1 1 auto"></span>
                              <mat-label>{{utils.millisToTimeString(queue.getConsultingEnding())}}</mat-label>
                          </div>
                           </div>
                          </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel >
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Off Days
                                </mat-panel-title>
                                <mat-panel-description>
                                  <span fxFlex="1 1 auto"></span><mat-icon>event_busy</mat-icon>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                             <div fxLayout="column">
                                <mat-chip-list class="holiday-chips"  aria-label="holidays">
                                  <mat-chip *ngFor="let day of queue.getHolidayList()">
                                    {{day}}
                                    </mat-chip>
                                  </mat-chip-list>
                             </div>
                            </mat-expansion-panel>
                          </mat-accordion>
                          <button mat-raised-button class="medium-button" fxFlexOffset="5px" (click)="viewLobby(queue, doctor.getDoctor())">
                            <mat-icon >room_preferences</mat-icon>
                            Visit Queue</button>  
                          <!-- <button mat-raised-button  >
                            <mat-icon class="book-image-icon">queue</mat-icon>
                            Book Now</button> -->
                           
                    </mat-card-content>
                </mat-card>
            </div>     
          </ng-container>
            </mat-expansion-panel>
          </mat-accordion> 
       </mat-card-content>
   </mat-card>
   
</div>
