.parent-lg {
  padding-left: 20%;
  padding-right: 20%;
  height: 100%;
}

.parent-md {
  padding-left: 15%;
  padding-right: 15%;
  height: 100%;
}
.parent-sm {
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}
