#parent{
    height: 100%;
    width: 100%;
}

#loadingContainer{
    height: fit-content;
    width: fit-content;
    z-index: 10px;
}
#progressIndicator{
    max-width: 40%;
    margin-top: 20px;
}
#meetupImage{
    max-width: 403px;
    height: 100.5px;
}