<div id="parent" fxLayout="column" fxLayoutAlign="center center">
    
    <ng-container *ngIf="data.success">

        <mat-icon class="success result-icon">check_circle_outline</mat-icon>
        <mat-label class="header-label result" fxFlexOffset="15px">Success</mat-label>

    </ng-container>
    <ng-container *ngIf="!data.success">

        <mat-icon class="failure result-icon">error_outline</mat-icon>
        <mat-label class="header-label result" fxFlexOffset="15px">Failure</mat-label>
        
    </ng-container>
    <mat-label id="headerLabel" fxFlexOffset="40px">{{data.message}}</mat-label>
    <!-- <div fxLayout="row" fxLayoutAlign="center center" mat-dialog-content>
        <mat-label id="headerLabel">{{data.message}}</mat-label>
    </div> -->

    <div mat-dialog-actions fxLayoutAlign="center center" fxFlexOffset="15px">
        <button class="lighter-button" mat-flat-button (click)="close()">{{data.okText||'Got It'}}</button>
    </div>

</div>
