#meetupImage{
    max-width: 100.5px;
    max-height: 50.25px;
    min-width: 50px;
    min-height: 25px;
}
.patient-button{
    color: white;
    background-color: #4285F4;
    outline: none;
    border: 0;
    border-radius: 7px;
    margin: 0px 50px 0px 50px;
}
.doctor-button{
    color: white;
    background-color: #0F9D58;
    outline: none;
    border: 0;
    border-radius: 7px;
    margin: 0px 50px 0px 50px;
}