#queueComponent{
    margin: 15px;
}
.live-image{
    width: 10px;
    height: 10px;
}
.queue-box-container{
    height: fit-content;
}
#row1{
    flex: 1 1 100%;
    height: fit-content;
}
#dateTimeLabel{
    flex: 1 1 auto;
}
#liveLabel{
    color: #ffffff;
    width: fit-content;
    height: fit-content;
    background-color: #DB4437;
    padding: 4px 7px 4px 7px;
    border-radius: 4px;
}
.live-indicator{
    width: fit-content;
    height: fit-content;
}
.content-text-label{
    font-family: 'roboto-regular';
     flex: 1 1 40%;

}
.content-text-value{
    font-family: 'roboto-regular';
    flex: 1 1 70%;
    align-self: flex-start;
}
.content-text-div-left{
    flex: 1 1 50%;
}
.content-text-div-right{
    flex: 1 1 50%;
}
.content-header-label{
    font-family: 'roboto-bold';
}
.live-status-class{
    color: #ffffff;
   
    background-color: #DB4437;
    padding: 2px 7px 2px 7px;
    border-radius: 4px;
    /* flex: 1 1 70%; */
}
.live-status-container{
    flex: 1 1 70%;
}

.header-label{
    font-size: 20px;
    margin-left: 15px;
    margin-top: 15px;
    font-family: roboto-bold;
}
/* for table */

table {
    /* width: 100%; */
    margin: 15px;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .authorized-status-label{
    background-color: #00bbff;
    color: white;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    font-family: roboto-regular;
  }
  .completed-status-label{
    background-color: #0F9D58;
    color: white;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    font-family: roboto-regular;
  }
  .failed-status-label{
    background-color: #DB4437;
    color: white;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    font-family: roboto-regular;
  }
  .no-kyc-label{
    color:  #DB4437;
    font-size: 15px;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    font-family: roboto-regular;
  }
  .no-kyc-button{
    background-color: #4285F4;
    color: white;
    font-size: 15px;
    width: fit-content;
    height: fit-content;
  }
  /* mat-cell{
    display:flex !important;
    justify-content:center!important;
    
  }
  
  mat-header-cell {
    display:flex;
    justify-content:center;
  } */