<div id="parent" fxLayout="column" fxLayoutAlign="center center">


  <div fxLayout="column" [ngClass.xs]="{'registration-form-sm':true}" [ngClass]="{'registration-form':true}">



    <form [formGroup]="registrationForm" #f="ngForm" (ngSubmit)="onSubmit(f)">

      <!-- <mat-card class="login-card">
        <mat-card-content fxLayout="row"> -->
      <div fxLayout="column" class="register-card" [class.mat-elevation-z2]="true">

        <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate" id="progressIndicator" color="primary">
        </mat-progress-bar>

        <!-- <form [formGroup]="registrationForm" #f="ngForm" fxFlex.xs="100%" (ngSubmit)="onSubmit(f)" class="registration-form"
    fxLayout="column">
    <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate" id="progressIndicator" color="primary">
    </mat-progress-bar>
    <mat-card class="reg-card">

      <mat-card-header> -->

        <div fxLayout="column" style="margin-left: 30px;">

          <img [ngClass]="{'splash-logo-md':true}" [ngClass.gt-md]="{'splash-logo-lg':true}"
            [ngClass.lt-md]="{'splash-logo-sm':true}" [ngClass.md]="{'splash-logo-md':true}"
            src="/assets/imgs/meetup_logo_with.svg" alt="Meetup Logo" fxFlexOffset="30px">

          <mat-label [ngClass]="{'header-label-md':true , 'header-label':true}"
            [ngClass.gt-md]="{'header-label-lg':true, 'header-label':true}"
            [ngClass.lt-md]="{'header-label-sm':true, 'header-label':true}"
            [ngClass.md]="{'header-label-md':true, 'header-label':true}" fxFlexOffset="10px">Patient Registration
          </mat-label>

        </div>


        <div id="contentParent" fxLayout="row" fxLayout.xs="column" fxFlexOffset="30px" fxLayoutAlign="center center">

          <div id="contentLeft">
            <mat-horizontal-stepper linear #stepper>

              <mat-step [stepControl]="registrationForm">
                <div fxLayout="column" fxLayoutGap="8px">
                  <div fxLayout="row wrap" fxLayoutGap="10px">
                    <mat-form-field appearance="outline" fxFlex="1 1 auto">
                      <mat-label>First name</mat-label>
                      <input matInput formControlName="firstName">
                      <mat-hint>Please do not prefix Dr.</mat-hint>
                      <mat-error *ngIf="firstName.touched && firstName.errors?.required">
                        Enter first name
                      </mat-error>

                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="1 1 auto">
                      <mat-label>Last name</mat-label>
                      <input matInput formControlName="lastName">
                      <mat-error *ngIf="lastName.touched && lastName.errors?.required">
                        Enter last name
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="1 1 auto">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option value="female">Female</mat-option>
                      <mat-option value="male">Male</mat-option>
                      <mat-option value="other">Other</mat-option>
                    </mat-select>
                    <mat-error *ngIf="gender.touched && gender.errors?.required">
                      Select gender
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex="1 1 auto">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" placeholder="Enter your age" formControlName="age">
                    <mat-error *ngIf="age.touched && age.errors?.required">
                      Please provide your experience years
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="1 1 auto">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="enter a valid email address"
                      formControlName="emailAddress">
                    <mat-error *ngIf="emailAddress.touched && emailAddress.errors?.required">
                      You must provide your email address
                    </mat-error>
                    <mat-error *ngIf="emailAddress.touched && emailAddress.errors?.email">
                      You must provide a valid email address
                    </mat-error>
                  </mat-form-field>

                  <div fxLayout="row wrap" fxLayoutGap="10px">
                    <mat-form-field appearance="outline" fxFlex="1 1 auto">
                      <mat-label>Password</mat-label>
                      <input matInput autocomplete="new-password" type="password" formControlName="password"
                        [type]="hide ? 'password' : 'text'" (change)="passwordChanged()">
                      <mat-error *ngIf="password.touched && password.errors?.required">
                        Enter password
                      </mat-error>
                      <mat-error *ngIf="password.touched && password.errors?.invalidPassword">
                        Minimum 8 characters, at least one letter, one number and one special character
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="1 1 auto">
                      <mat-label>Confirm</mat-label>
                      <input matInput autocomplete="new-password" type="password" formControlName="confirmPassword"
                        [type]="hide ? 'password' : 'text'" (change)="passwordequality()">
                      <mat-error *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
                        Re-enter password
                      </mat-error>
                      <mat-error *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqalTo">
                        Not matching
                      </mat-error>
                    </mat-form-field>

                    <button class="icon-button" mat-mini-fab type="button" (click)="hide = !hide"
                      aria-label="show or hide password">
                      <mat-icon class="mat-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </div>
                  <div fxLayout="row" fxFlexOffset="10px">
                    <button class="register-button" mat-raised-button matStepperNext type="submit">Register
                      Now</button>
                  </div>
                </div>
              </mat-step>

            </mat-horizontal-stepper>

          </div>


          <div id="contentRight" fxLayout="row" fxLayoutAlign="center center">
            <ng-container *ngIf="stepper.selectedIndex !== 2">

              <img [ngClass]="{'right-image':true}" [ngClass.gt-md]="{'right-image-lg':true}"
                [ngClass.xs]="{'right-image-sm':true}" [ngClass.lt-md]="{'right-image-md':true}"
                src='https://firebasestorage.googleapis.com/v0/b/doctorclientmeetup.appspot.com/o/web_pictures%2Fregister_side_image.svg?alt=media&token=79cf5825-6a17-4c98-9a50-06817f48b6e5' />

            </ng-container>
          </div>
        </div>
      </div>
      <!-- </mat-card-content>
    </mat-card> -->
    </form>
    <div fxLayout="row" fxLayoutGap="15px" fxFlexOffset="15px">
      <span fxFlex="1 1 auto"></span>
      <mat-label class="about-label" (click)="openAbout()">About Us</mat-label>
      <mat-label class="about-label" (click)="openTerms()">Policies & Terms</mat-label>
      <mat-label class="about-label" (click)="openGetInTouch()">Contact Us</mat-label>
    </div>
    <span fxFlex.xs="1 1 1px" fxFlexOffset.xs="30px"></span>
  </div>