#parent{
    height: 100%;
    background-color: #ffffff;
}
#meetupImage{
    max-width: 201.5px;
    max-height: 100.25px;
    min-width: 50px;
    min-height: 25px;
}
#headerLabel{
    font-family: 'roboto-regular';
    font-size: large;
}

::ng-deep .mat-form-field {
    font-size: 12px; 
}
.registration-form{
    width: fit-content;
    height: fit-content;
}
.icon-button{
    background-color: transparent;
    outline: none;
    border: 0;
    margin-top: 5px;
} 
.mat-icon{
    color: #476282;
}

.back-button{
    width: fit-content;
    color:#476282;
    outline: none;
    border: 0;
}
.register-button{
    color: white;
    background-color: #4285F4;
    width: 100%;
    outline: none;
    border: 0;
}
.about-textarea{
    max-height: 200px;
}
::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

.right-image{
    min-width: 250px;
    min-height: 250px;
    max-width: 400px;
    max-height: 400px;
} 
#contentRight{
    height: 100%;
}
.right-label{
    width: 250px;
    text-align: center;
    font-size: medium;
    font-family: 'roboto-regular';
}
.img-wrapper{
    width: fit-content;
    height: fit-content;
}
.reg-card{
    background-color: #ffffff;
    height: fit-content;
    width: fit-content;
    overflow: auto;
}