<div id="parent" fxLayout="column" fxLayoutAlign="center center">


  <div fxLayout="column" [ngClass.xs]="{'registration-form-sm':true}" [ngClass]="{'registration-form':true}">

    <form [formGroup]="queueForm" #f="ngForm" (ngSubmit)="onSubmit(f)">



      <div fxLayout="column" class="register-card" [class.mat-elevation-z2]="true">
        <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate" id="progressIndicator" color="primary">
        </mat-progress-bar>

        <div fxLayout="column" style="margin-left: 30px;">

          <img [ngClass]="{'splash-logo-md':true}" [ngClass.gt-md]="{'splash-logo-lg':true}"
            [ngClass.lt-md]="{'splash-logo-sm':true}" [ngClass.md]="{'splash-logo-md':true}"
            src="/assets/imgs/meetup_logo_with.svg" alt="Meetup Logo" fxFlexOffset="30px">

          <mat-label [ngClass]="{'header-label-md':true , 'header-label':true}"
            [ngClass.gt-md]="{'header-label-lg':true, 'header-label':true}"
            [ngClass.lt-md]="{'header-label-sm':true, 'header-label':true}"
            [ngClass.md]="{'header-label-md':true, 'header-label':true}" fxFlexOffset="10px">Create Queue</mat-label>

        </div>

        <div fxLayout="row" fxLayout.xs="column" fxFlexOffset="30px" fxLayoutAlign="center center">

          <div id="contentLeft">

            <mat-horizontal-stepper linear #stepper>

              <mat-step formGroupName="first">

                <div fxLayout="column" fxLayoutGap="8px">

                  <div fxLayout="row wrap" fxLayoutGap="10px" class="item-class">
                    <mat-form-field appearance="outline" fxFlex="1 1 auto">
                      <mat-label>Consulting Type</mat-label>
                      <mat-select formControlName="type">
                        <mat-option value="video">Video (Online)</mat-option>
                        <mat-option value="offline">Offline (at your clinic/hospital)</mat-option>
                      </mat-select>
                      <mat-error *ngIf="type.touched && type.errors?.required">
                        Choose consulting type
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="1 1 auto">
                      <mat-label>Payment Option</mat-label>
                      <mat-select formControlName="paymentOption">
                        <mat-option value="prepaid">Prepaid</mat-option>
                        <mat-option *ngIf="type.value === 'offline'" value="postpaid">Postpaid</mat-option>
                      </mat-select>
                      <mat-error *ngIf="paymentOption.touched && paymentOption.errors?.required">
                        Choose payment options
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <mat-form-field appearance="outline" class="item-class">
                    <mat-label>Patients Limit</mat-label>
                    <input matInput type="number" placeholder="Queue Size e.g 100" [formControlName]="numberOfPatients">
                    <mat-error *ngIf="numberOfPatients.touched && numberOfPatients.errors?.required">
                      Enter patient limit
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="item-class">
                    <mat-label>Approximate time per patient</mat-label>
                    <input matInput type="number" placeholder="Example 5 minutes" [formControlName]="aTimePerPatient">
                    <mat-error *ngIf="aTimePerPatient.touched && aTimePerPatient.errors?.required">
                      Enter approximate time per patient
                    </mat-error>
                    <mat-error *ngIf="aTimePerPatient.touched && aTimePerPatient.errors?.max">
                      Maximum allowed time is {{aTimePerPatient.errors.max.max}} minutes
                    </mat-error>
                    <mat-error *ngIf="aTimePerPatient.touched && aTimePerPatient.errors?.min">
                      Minimum allowed time is {{aTimePerPatient.errors.min.min}} minute

                    </mat-error>
                    <span matSuffix>Minutes</span>
                  </mat-form-field>


                  <div fxLayout="row wrap" fxLayoutGap="10px" class="item-class">
                    <mat-form-field appearance="outline" fxFlex="1 1 auto">
                      <mat-label>Currency</mat-label>
                      <mat-select formControlName="currency" [(value)]="slectedCurrency">
                        <mat-option value="INR">INR( &#8377; )</mat-option>
                      </mat-select>
                      <mat-error *ngIf="currency.touched && currency.errors?.required">
                        Choose currency
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Fees</mat-label>
                      <input matInput type="number" placeholder="Enter your consulting fees" formControlName="fees"
                        (change)="onFeesChangedEvent($event)">
                      <mat-error *ngIf="fees.touched && fees.errors?.required">
                        Enter your fees
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <mat-label>{{feeStructureText}}</mat-label>

                  <div fxLayout="row wrap" fxFlexOffset="10px" class="item-class">
                    <span fxFlex="1 1 auto"></span>
                    <button class="next-button" mat-flat-button matStepperNext type="button"
                      [disabled]="!firstForm.valid">Next</button>
                  </div>

                </div>

              </mat-step>

              <mat-step formGroupName="second">

                <div fxLayout="column" fxLayoutGap="8px">
                  <mat-form-field appearance="outline" fxFlex="1 1 auto">
                    <mat-label>Booking Start Time</mat-label>
                    <input matInput readonly [ngxTimepicker]="startTimePicker" [format]=24 [(value)]='bookStartTime'
                      formControlName="bStartTime">
                    <mat-icon matSuffix (click)="startTimePicker.open()">access_time</mat-icon>
                    <mat-error *ngIf="bStartTime.touched && bStartTime.errors?.required">
                      You must tell when your booking will start
                    </mat-error>
                    <ngx-material-timepicker [theme]="darkTheme" #startTimePicker
                      (timeSet)="timeChangeBookStart($event)"></ngx-material-timepicker>

                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="1 1 auto">
                    <mat-label>Booking End Time</mat-label>
                    <input matInput readonly [ngxTimepicker]="endTimePicker" [min]="bookEndMin" [format]=24
                      [disabled]="!enableBookEnd" [(value)]='bookEndTime' formControlName="bEndTime">
                    <mat-icon *ngIf="enableBookEnd" matSuffix (click)="endTimePicker.open()">access_time</mat-icon>
                    <mat-error *ngIf="bEndTime.touched && bEndTime.errors?.required">
                      You must tell when your booking will end
                    </mat-error>
                    <ngx-material-timepicker [theme]="darkTheme" #endTimePicker (timeSet)="timeChangeBookEnd($event)">
                    </ngx-material-timepicker>

                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex="1 1 auto">
                    <mat-label>Consulting Start Time</mat-label>
                    <input matInput readonly [ngxTimepicker]="cStartTimePicker" [format]=24 [min]="bookEndMin"
                      [disabled]="!enableBookEnd" [(value)]='consultingStartTime' formControlName="cStartTime">
                    <mat-icon *ngIf="enableBookEnd" matSuffix (click)="cStartTimePicker.open()">access_time</mat-icon>
                    <mat-error *ngIf="cStartTime.touched && cStartTime.errors?.required">
                      You must tell when your consulting will start
                    </mat-error>
                    <ngx-material-timepicker [theme]="darkTheme" #cStartTimePicker
                      (timeSet)="timeChangeConsultStart($event)"></ngx-material-timepicker>

                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex="1 1 auto">
                    <mat-label>Consulting End Time</mat-label>
                    <input matInput readonly [ngxTimepicker]="cEndTimePicker" [format]=24 [min]="consultEndMin"
                      [disabled]="!enableConsultingEnd" [(value)]='consultingEndTime' formControlName="cEndTime">
                    <mat-icon *ngIf="enableConsultingEnd" matSuffix (click)="cEndTimePicker.open()">access_time
                    </mat-icon>
                    <mat-error *ngIf="cEndTime.touched && cEndTime.errors?.required">
                      You must tell when your consulting will end
                    </mat-error>
                    <ngx-material-timepicker [theme]="darkTheme" #cEndTimePicker
                      (timeSet)="timeChangeConsultEnd($event)"></ngx-material-timepicker>

                  </mat-form-field>

                  <div fxLayout="row wrap" fxFlexOffset="10px">

                    <button class="lighter-button" mat-flat-button matStepperPrevious type="button">Back</button>
                    <span fxFlex="1 1 auto"></span>
                    <button class="next-button" mat-flat-button matStepperNext type="button"
                      [disabled]="!secondForm.valid || disableSubmit">Next</button>
                  </div>


                </div>

              </mat-step>


              <mat-step>

                <div fxLayout="column" fxLayoutGap="8px">

                  <div fxLayout="row wrap">
                    <div class="example-container">
                      <h2>Working Days</h2>

                      <div cdkDropList #workingList="cdkDropList" [cdkDropListData]="workings"
                        [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of workings" cdkDrag>{{item}}</div>
                      </div>
                    </div>

                    <div class="example-container">
                      <h2>Holidays</h2>

                      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="holidays"
                        [cdkDropListConnectedTo]="[workingList]" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of holidays" cdkDrag>{{item}}</div>
                      </div>
                    </div>
                  </div>
                  <mat-label>*Drag and drop to change working days</mat-label>
                  <div fxLayout="row" fxFlexOffset="10px">

                    <button class="lighter-button" mat-flat-button matStepperPrevious type="button">Back</button>
                    <span fxFlex="1 1 auto"></span>
                    <button class="next-button" mat-flat-button matStepperNext type="submit"
                      [disabled]="!f.valid">Submit</button>
                  </div>


                </div>

              </mat-step>

            </mat-horizontal-stepper>

          </div>


          <div id="contentRight" fxLayout="row" fxLayoutAlign="center center">
            <img [ngClass]="{'right-image':true}" [ngClass.gt-md]="{'right-image-lg':true}"
              [ngClass.xs]="{'right-image-sm':true}" [ngClass.lt-md]="{'right-image-md':true}"
              src='https://firebasestorage.googleapis.com/v0/b/doctorclientmeetup.appspot.com/o/web_pictures%2Fregister_side_image.svg?alt=media&token=79cf5825-6a17-4c98-9a50-06817f48b6e5' />
          </div>
        </div>

      </div>

    </form>
  </div>

</div>