.queue-form-parent{
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    /* display: flex; */
    align-items: center;
    justify-content: center;
     
}
.create-queue-container{
     margin-left: 10%;
     margin-right: 10%;
    padding : 20px 50px 20px 50px; 
    z-index: 10px;

}
.cancel-queue-button{
    background-color: whitesmoke;
}
.next-patient-button-button{
    background-color: #0F9D58;
    color: white;
}
.header-label{
    font-size: 30px;
    font-family: roboto-bold;
}