



 
<mat-sidenav-container class="sidenav-container" fxLayout="row" autosize="true">
    <!-- [opened]="(isHandset$ | async) === false" -->
    <mat-sidenav #drawer position="end" class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        opened="false"
        fxFlex="1 1 auto"
        (openedChange)="readAll()"
        >
   
        <div id="sidenavInner"  fxLayout="column">
            <mat-toolbar class="chat-toolbar" fxFlex="1 1 60px"  >
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">

                    <mat-icon class="close-icon" (click)="drawer.toggle()">close</mat-icon>
                   
                    <span fxFlex="1 1 auto"></span>

                    <mat-label class="header-label chat-text" >Chat</mat-label>
                    <span fxFlex="1 1 auto"></span>
                    <span fxFlex="1 1 24px"></span>
                </mat-toolbar-row>
                
            </mat-toolbar>

            <div class="chatbox-wrapper" #chatContainer fxFlex="1 1 auto" fxLayout="column" [scrollTop]="chatContainer.scrollHeight" >
                <div  [ngClass]="{'chat-mgs-outer':true, 'left-label':chat.getSenderId() !== currentUser.getUserId(), 'right-label':chat.getSenderId() === currentUser.getUserId()}" *ngFor="let chat of chatCollection" fxLayout="row" fxLayoutGap="10px" >
                    <img *ngIf="chat.getSenderId() !== currentUser.getUserId()" mat-card-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4QcsAkyJy8YJXzB_ODAR9Q88d50--zfXfNw&usqp=CAU">
                    <div fxLayout="column">
                            <mat-label [ngClass]="{'left-time-label': chat.getSenderId() !== currentUser.getUserId(),
                             'right-time-label':chat.getSenderId() === currentUser.getUserId()}" class="small-label">
                             {{chat.getSenderId() === currentUser.getUserId() ? chat.getTimeLabel():chat.getSenderLabel()}}</mat-label>
                            <mat-label [ngClass]="{'chat-msg' : true, 'msg-left':chat.getSenderId() !== currentUser.getUserId(),
                             'msg-right':chat.getSenderId() === currentUser.getUserId()}">
                               {{chat.getMsg() }}
                            </mat-label>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div fxFlex="1 1 60px" class="text-box-wrapper" fxLayout="row" fxLayoutAlign="center center">
                <div class="chat-input-wrapper" fxFlexOffset="10px" fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>attach_file</mat-icon>
                    <textarea  matInput [(ngModel)]="chatMsgRT" fxFlexOffset="10px"  fxFlex="1 1 auto" class="chat-input" placeholder="Write your message.." ></textarea>
                </div>
                
                <div fxFlex="1 1 50px">
                    <button mat-mini-fab class="send-button" (click)="sendMessage()"><mat-icon class="send-icon">send</mat-icon></button>
                </div>
            </div>

        </div>
    </mat-sidenav>
    <mat-sidenav-content >
        
        
       

        <!-- <div class="conference-bg" fxLayout="column" > -->
        
        <div class="conference-bg"  fxLayout="column" >
            <!-- *ngIf="meetingService.getRemoteStream() && meetingService.getRemoteStream().getVideoTracks().length > 0 && mediaSignalRemote.isVideoOn()" -->
            <div class="main-conf-div" fxFlex="1 1 100%">
                <div class="main-inner video-wrapper" fxLayout="column" fxLayoutAlign="center center">
                    <video  id="remoteVideo" autoplay playsinline [srcObject]="meetingService.getRemoteStream()"
                    class="remote-video-player"
                    (click)="bottombarVisible = !bottombarVisible"
                    ></video>
                </div>

                <ng-container *ngIf="!meetingService.getRemoteStream() || meetingService.getRemoteStream().getVideoTracks().length === 0  || !mediaSignalRemote.isVideoOn()">

                    <div class="image-overlay main-inner"  fxLayout="column" fxLayoutAlign="center center">
                        <img src="https://imagevars.gulfnews.com/2020/11/19/20201119-Ishita-Karuturi_175df2027da_large.jpg" class="conference-center-image"/>
                    </div>
                </ng-container>

                <div class="conference-status-div" fxLayout="column" fxLayoutGap="2px">
                    <mat-label class="header-label call-header-label">{{currentPatient.getName()}}</mat-label>
                    <mat-label class="header-label call-status-label" >{{meetingService.getConnectionStatus()}}</mat-label>
                    
                   
                </div>
                <div class="remote-media-indicator-wrapper" fxLayout="column" fxLayoutGap="10px">
                    <div *ngIf="!mediaSignalRemote.isAudioOn()" class="remote-media-indicator" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="remote-media-icon">mic_off</mat-icon>
                        <mat-label fxFlexOffset="6px" class="remote-media-label">{{currentPatient.getName()}} is on mute</mat-label>
                    </div>
                    <div *ngIf="!mediaSignalRemote.isVideoOn()" class="remote-media-indicator" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="remote-media-icon">videocam_off</mat-icon>
                        <mat-label fxFlexOffset="6px" class="remote-media-label">{{currentPatient.getName()}} turend off the camera</mat-label>
                    </div>
                </div>
                <div class="local-video-player" cdkDrag cdkDragBoundary=".main-conf-div" >
                    <ng-container *ngIf="mediaSignal.isVideoOn()">
                        <video id="localVideo"   autoplay="true"  [muted]="true" [srcObject]="meetingService.getLocalStream()"
                        ></video> 
                    </ng-container>
                    
                    <ng-container *ngIf="!mediaSignal.isVideoOn()">
                        <div   class="big-webcam-off-wrapper" fxLayout="column" fxLayoutAlign="center center" >
                            <mat-icon  class="big-webcam-off">videocam_off</mat-icon>
                        </div>  
                    </ng-container>                  
                </div>

                <mat-icon class="white-icon full-screen-icon" (click)="togleFullScreen()" >{{fullScreenFlag?'fullscreen_exit':'fullscreen'}}</mat-icon>

                <button *ngIf="activatePres" mat-fab class="prescription-button"  aria-label="prescription" matTooltip="Write Prescription" (click)="showPrescription()">
                    <mat-icon class="white-icon">note_add</mat-icon>
                </button>
            </div>
              
         
          

            <div *ngIf="bottombarVisible" class="conference-bottom-bar" fxflex="1 1 100px" fxLayout="row" fxLayoutAlign="center center"  >
                <div fxFlex="1 1 100%">
        
                </div>
                <div class="media-botton-container"  fxLayout="row" fxLayoutGap="15px" > 
        
                    <button mat-mini-fab [ngClass]="{'conference-mute-button':mediaSignal.isAudioOn(), 'conference-unmute-button':!mediaSignal.isAudioOn()}" aria-label="mute" (click)="micToggle()">
                        <mat-icon *ngIf="mediaSignal.isAudioOn()">mic</mat-icon>
                        <mat-icon *ngIf="!mediaSignal.isAudioOn()" class="white-icon">mic_off</mat-icon>
                    </button>
                    <button mat-mini-fab aria-label="Camera" [ngClass]="{'conference-camera-button':mediaSignal.isVideoOn(), 'conference-camera-cut-button':!mediaSignal.isVideoOn()}" (click)="videoToggle()">
                        <mat-icon *ngIf="mediaSignal.isVideoOn()">videocam</mat-icon>
                        <mat-icon  *ngIf="!mediaSignal.isVideoOn()" class="white-icon">videocam_off</mat-icon>
                    </button>
                    <button mat-mini-fab  [ngClass]="{'conference-call-disconnect':true}" aria-label="End call" (click)="endCall()" >
                        <mat-icon [ngStyle]="{'color':'white'}">call_end</mat-icon>
                    </button>
                </div>
                
                <div  fxFlex="1 1 100%"  >
                    <span fxFlex="1 1 auto"></span>
                    <div class="action-wrapper" fxLayout="row" fxLayoutAlign="center center" >
                        <!-- <div fxLayout="column"  fxLayoutGap="10px" fxLayoutAlign="center center">                   
                            <mat-icon [ngStyle]="{'color':'red'}" >fiber_manual_record</mat-icon>                
                             <mat-label class="action-label">Record</mat-label>
                        </div> -->
                        <!-- *ngIf="!drawer.opened" -->
                        <ng-container *ngIf="meetingService.getDataChannel() && meetingService.getDataChannel().readyState === 'open'">
                            <div fxLayout="column"   fxLayoutGap="10px" fxLayoutAlign="center center" (click)="drawer.toggle()" 
                            [matBadge]="unreadMessages > 0?unreadMessages:null" matBadgeColor="warn"
                            >                   
                                <mat-icon class="chat-action-icon"  >chat</mat-icon>                
                                 <mat-label class="action-label">Chat</mat-label>
                            </div>
                        </ng-container>
                        
                        <span fxFlex="1 1 40px"></span>
                     </div>
                     <!-- <span fxFlex="1 1 30px"></span> -->
                </div>
                
            </div>
          
        
            
        </div>


    </mat-sidenav-content>
  </mat-sidenav-container>
