/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";



html, body { height: 100%; width: 100%; }
body { margin: 0;
}

.parent-div{
  height: 100%;
}
@font-face {
  font-family: 'roboto-regular';
  src: url(/assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'roboto-bold';
  src: url(/assets/fonts/roboto/Roboto-Bold.ttf) format("truetype");
}


/* notification icon color: #476282; */
/* blue  #4285F4 */
/* red #DB4437 */
/* yellow #F4B400 */
/* green #0F9D58 */